﻿@using Cogworks.Meganav.Models
@inherits UmbracoViewPage

@{
    var home = Model.AncestorOrSelf<Homepage>();
    var site = Model.AncestorOrSelf<Site>();
    var navigation = home.GetPropertyValue<IEnumerable<Cogworks.Meganav.Models.MeganavItem>>("headerNavigation", true);
    ProductFamily currentProductFamily = null;
    if (Model.DocumentTypeAlias.Equals("ProductFamily"))
    {
        currentProductFamily = (ProductFamily)Umbraco.TypedContent(Model.Id);
    }
}

<div class="navbar navbar-grey-light no-border-radius xs-height75" id="main_navbar" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
            </button>
            <a class="navbar-brand  hidden-sm hidden-md hidden-lg" rel="home" href="@home.Url">
                <img class="img img-responsive lazyload" data-src="@(site.Logo != null ? site.Logo.Url : string.Empty)" alt="logo" />
            </a>
        </div>
        <div class="collapse navbar-collapse" id="navbar_add_menu_5">
            <ul class="nav navbar-nav navbar-left">
                @if (navigation != null)
                {
                    int recurringCounter = 0;
                    foreach (var item in navigation)
                    {
                        string navTitle = string.Empty;
                        if (currentProductFamily != null && item.Children.Any(x => x.Id.Equals(currentProductFamily.Id)))
                        {
                            recurringCounter++;
                            navTitle = currentProductFamily.NavigationTitle;
                            if (!string.IsNullOrEmpty(currentProductFamily.NavigationTitleOverrule))
                            {
                                navTitle = currentProductFamily.NavigationTitleOverrule;
                            }
                        }

                        <li class="dropdown-full no-shadow no-border-radius @(currentProductFamily != null && item.Children.Any(x => x.Id.Equals(currentProductFamily.Id)) && recurringCounter == 1 ? "current" : string.Empty)">
                            <a data-toggle="dropdown" href="javascript:void(0);" class="dropdown-toggle">&nbsp;<span class="reverse">@item.Title</span><span class="caret"></span></a>
                            @if (recurringCounter > 1)
                            {
                                recurringCounter = 0;
                            }
                            <div class="dropdown-menu row">
                                @if (item.Children.Any())
                                {
                                    IEnumerable<ProductFamily> pChildren = item.Children.Where(x => x.Content != null && x.Content.DocumentTypeAlias.Equals("ProductFamily")).Select(x => (ProductFamily)x.Content);
                                    IEnumerable<ProductFamily> eerste = null;
                                    IEnumerable<ProductFamily> tweede = null;
                                    if (item.Children.Count() > 5)
                                    {
                                        eerste = pChildren.Take(5);
                                        tweede = pChildren.Skip(5);
                                    }
                                    else
                                    {
                                        eerste = pChildren;
                                    }
                                    if (eerste != null && eerste.Any())
                                    {
                                        <ul class="row">
                                            @foreach (var pf in eerste)
                                            {
                                                if (!pf.HasValue("navigationImage"))
                                                {
                                                    @Html.Action("Mail", "Error", new { property = "navigationImage", errorPage = pf.Url })
                                                }
                                                var text = pf.NavigationHeadline.ToString().Replace("<p>", "<p class='smaller'>");

                                                <li class="col-lg-5ths col-md-5ths col-sm-12 col-xs-12 nav-item">
                                                    <a href="@pf.Url">
                                                        <h4>@pf.NavigationTitle</h4>
                                                        <figure>
                                                            <img data-src="@(pf.NavigationImage != null ? pf.NavigationImage.Url : "/images/Missing_Square.svg")?anchor=center&mode=crop&width=177&height=177" alt="@(pf.NavigationImage != null ? pf.NavigationImage.Name : "missing image")" class="hidden-xs img-responsive lazyload">
                                                        </figure>
                                                        <div class="text-slide">
                                                            @Html.Raw(text)
                                                        </div>
                                                    </a>
                                                </li>
                                            }
                                        </ul>
                                    }
                                    if (tweede != null && tweede.Any())
                                    {
                                        int aantal = tweede.Count();
                                        string klasse = "5ths";
                                        string offset = aantal == 3 ? "col-md-5ths-offset-1" : string.Empty;
                                        int counter = 0;
                                        <ul class="row">
                                            @foreach (var pf in tweede)
                                            {
                                                if (!pf.HasValue("navigationImage"))
                                                {
                                                    @Html.Action("Mail", "Error", new { property = "navigationImage", errorPage = pf.Url })
                                                }
                                                var text = pf.NavigationHeadline.ToString().Replace("<p>", "<p class='smaller'>");
                                                <li class="@(counter == 0 ? offset : string.Empty) col-lg-@(klasse) col-md-@(klasse) col-sm-12 col-xs-12 nav-item">
                                                    <a href="@pf.Url">
                                                        <h4>@pf.NavigationTitle</h4>
                                                        <figure>
                                                            <img data-src="@(pf.NavigationImage != null ? pf.NavigationImage.Url : "/images/Missing_Square.svg")?anchor=center&mode=crop&width=177&height=177" alt="@(pf.NavigationImage != null ? pf.NavigationImage.Name : "missing image")" class="hidden-xs img-responsive lazyload">
                                                        </figure>
                                                        <div class="text-slide">
                                                            @Html.Raw(text)
                                                        </div>
                                                    </a>
                                                </li>
                                                counter++;
                                            }
                                        </ul>
                                    }
                                }
                            </div>
                        </li>

                    }
                }
            </ul>
        </div>
    </div>
</div>