﻿@inherits UmbracoViewPage<Homepage>

@{
    var navigation = Model.GetPropertyValue<IEnumerable<Cogworks.Meganav.Models.MeganavItem>>("headerNavigation", true);
}

<section class="fourcolums nav-grid">
    <div class="container">
        @if (navigation != null)
        {
            foreach (var item in navigation)
            {
                <div class="row">
                    <h2 class="align-center">@item.Title</h2>
                    @if (item.Children.Any())
                    {
                        IEnumerable<ProductFamily> pChildren = item.Children.Where(x => x.Content != null && x.Content.DocumentTypeAlias.Equals("ProductFamily")).Select(x => (ProductFamily)x.Content).Where(x => x.IncludeInRowNavigation);
                        foreach (var pf in pChildren)
                        {
                            if (!pf.HasValue("navigationImage"))
                            {
                                @Html.Action("Mail", "Error", new { property = "navigationImage", errorPage = pf.Url })
                            }

                            <div class="col col-lg-3 col-md-3 col-sm-6 col-xs-12 griditem">
                                <a href="@pf.Url">
                                    <figure>
                                        <img data-src="@(pf.NavigationImage != null ? pf.NavigationImage.Url : "/images/Missing_Square.svg?width=280&height=280")" alt="@(pf.NavigationImage != null ? pf.NavigationImage.Name : "Missing Image")" class="img-responsive lazyload">
                                    </figure>
                                    <div class="text-slide">
                                        <h4>@pf.NavigationTitle</h4>
                                        @Html.Raw(pf.NavigationHeadline)
                                    </div>
                                </a>
                            </div>
                        }
                    }
                </div>
            }
        }
    </div>
</section>