﻿@inherits UmbracoViewPage<ProductFamily>
@{
    var sliders = Model.Slide.ToList();
    string indicator = "class=active";
    string active = "active";
}
<div class="container">
    <div id="myCarousel" class="carousel slide" @(sliders.Count > 1 ? "data-ride='carousel'" : string.Empty)>
        @if (sliders.Any() && sliders.Count() > 1)
        {
            <!-- Indicators -->
            <ol class="carousel-indicators">
                @for (int i = 0; i < sliders.Count(); i++)
                {
                    <li data-target="#myCarousel" data-slide-to="@i" @indicator></li>
                    indicator = "";
                }
            </ol>
        }
        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            @if (sliders.Any())
            {
                foreach (CarouselOverlaySection slider in sliders)
                {
                    var linkToPage = slider.LinkToPage;
                    string left = slider.LeftOffsetPx + "%";
                    string top = slider.TopOffsetPx + "%";
                    <div class="item @active">
                        @if (slider.Afbeelding == null)
                        {
                            string afbeeldingUrl = "/images/Missing_Rectangle.svg";
                            <img class="img-responsive lazyload" data-src="@afbeeldingUrl" alt="Missing Image">
                            <div class="carousel-caption" style="left: @left; top: @top;">
                                @slider.HtmlValue
                                @if (linkToPage != null)
                                {
                                    <a href="@linkToPage.First().Link" target="_top" title="@Umbraco.GetDictionaryValue("Home.Discover")">@Umbraco.GetDictionaryValue("Home.Discover")</a>
                                }
                            </div>
                        }
                        else
                        {
                            switch (slider.Afbeelding.DocumentTypeAlias)
                            {
                                case "sliderImage":
                                    SliderImage afbeelding = (SliderImage)slider.Afbeelding;
                                    <img class="img-responsive lazyload" data-src="@afbeelding.GetCropUrl("LG")" alt="@afbeelding.Name">
                                    <div class="carousel-caption" style="left: @left; top: @top;">
                                        @slider.HtmlValue
                                        @if (linkToPage != null)
                                        {
                                            <a href="@linkToPage.First().Link" target="_top" title="@Umbraco.GetDictionaryValue("Home.Discover")">@Umbraco.GetDictionaryValue("Home.Discover")</a>
                                        }
                                    </div>
                                    break;
                                case "File":
                                    var video = (Umbraco.Web.PublishedContentModels.File)slider.Afbeelding;
                                    <video id="video" autoplay>
                                        <source src="@video.Url" type="video/mp4">
                                    </video>
                                    @*<video controls autoplay src="@video.Url" type="video/mp4" />*@
                                    <div id="video-controls">
                                        <button type="button" id="play-pause" class="fas fa-pause-circle  fa-2x" />
                                        <button type="button" id="mute" class="fas fa-volume-off fa-2x" />
                                    </div>
                                    break;
                            }
                        }
                    </div>
                    active = "";
                }
            }
        </div>
        @if (sliders.Count() > 1)
        {
            <!-- Left and right controls -->
            <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#myCarousel" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
                <span class="sr-only">Next</span>
            </a>
        }
    </div>
</div>