﻿@using Our.Umbraco.Vorto.Extensions
@using Our.Umbraco.Vorto.Models
@inherits UmbracoViewPage
@{
    var site = Model.AncestorOrSelf<Site>();
    var taal = Culture.Substring(0, 2);
    string breakHours = "<br/>";
    var openingsuren = site.GetVortoValue<IEnumerable<IPublishedContent>>("OpsommingOpeningsuren");
}
@Umbraco.RenderMacro("PromoBar", new { content = "umb://document/ddc7854107754bc38e113156dce1e34b" })
<div class="top-bar-wrapper">
    <div class="container">
        <div class="col-sm-12 col-md-12 col-lg-12 navbartopmenu-wrapper">
            <div id="navbartopmenu">
                <ul id="navbartopmenu-left">
                    <li>
                        @Html.Partial("LanguageSelection")
                    </li>
                    <li class="hidden-xs"><a href="@site.UrlAbsolute()@taal/#newsletter-form"><i class="fas fa-envelope"></i>&nbsp;@Html.Raw(Umbraco.GetDictionaryValue("Home.Newsletter"))</a></li>
                    <li class="hidden-xs"><a href="@site.UrlAbsolute()@taal/faq"><i class="fa fa-question-circle"></i>&nbsp;@Html.Raw(Umbraco.GetDictionaryValue("Home.FAQ"))</a></li>
                    <li class="hidden-xs"><a href=""><i class="fa fa-gift"></i>&nbsp;@Html.Raw(Umbraco.GetDictionaryValue("Home.GiftVoucher"))</a></li>
                    <li class="hidden-xs"><a href="@site.UrlAbsolute()@taal"><i class="fas fa-euro-sign"></i>&nbsp;@Html.Raw(Umbraco.GetDictionaryValue("Home.PriceOverview"))</a></li>
                </ul>
                <ul id="navbartopmenu-right">
                    <li class="top-phone">
                        <div class="popover__wrapper">
                            <a><i class="fa fa-phone"></i> @site.Telefoonnnummer</a>
                            <div class="push popover__content">
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12 loc-adres">
                                        @Html.Raw("<p>")
                                        @foreach (Openingsuren item in openingsuren)
                                        {
                                            @Html.Raw(item.Weekdag + ": " + item.Uren + breakHours)
                                            breakHours = "";
                                        }
                                        @Html.Raw("</p>")
                                        @Html.Raw("<p>")
                                        <a href="tel:@site.Telefoonnnummer.Replace(" ", "")"><i class="fa fa-phone"></i> @site.Telefoonnnummer</a>
                                        @Html.Raw("<br/>")
                                        <a href="mailto:@site.Email">@site.Email</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="hidden-xs" style="margin-right: 0px;">
                        <div id="react-placeholder-auth">
                        </div>
                        <script defer src="/static/js/main.js"></script>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>