﻿@inherits UmbracoViewPage<IPublishedContent>
@{
    var currentCulture = Model.GetCulture().ToString();
    var currentLanguageCaption = currentCulture.Substring(0, 2);

    var rs = ApplicationContext.Current.Services.RelationService;
    var parentId = rs.GetByParentOrChildId(Model.Id).Where(f => f.RelationType.Alias == "relateDocumentOnCopy").Select(x => x.ParentId).FirstOrDefault();
}    
    <select id="languageSelector">
        @if (parentId != 0)
        {
            var children = rs.GetByParentId(parentId).Where(f => f.RelationType.Alias == "relateDocumentOnCopy").ToList();
            if (children.Any())
            {
                var content = Umbraco.TypedContent(parentId);
                var languageCaption = content.GetCulture().ToString().TrimStart("/").Substring(0, 2);

                <option data-homepage="@content.Url" @(content.Url.Equals(Model.Url) ? "selected" : string.Empty)>@languageCaption</option>

                foreach (var relation in children)
                {
                    content = Umbraco.TypedContent(relation.ChildId);
                    if (content != null)
                    {
                        languageCaption = content.GetCulture().ToString();
                        if (content.Url.StartsWith("/en/"))
                        {
                            languageCaption = "en";
                        }
                        <option data-homepage="@content.Url" @(content.Url.Equals(Model.Url) ? "selected" : string.Empty)>@languageCaption</option>
                    }

                }
            }
            else
            {
                <option data-homepage="/nl/">NL</option>
                <option data-homepage="/fr/">FR</option>
                <option data-homepage="/en/">EN</option>
            }

        }
    </select>