﻿@inherits UmbracoViewPage
@{
    var home = Model.AncestorOrSelf<Homepage>();
    var site = Model.AncestorOrSelf<Site>();
    var pageName = (Model.Name.Equals(home.Name)) ? "Home" : Model.Name;
    var langCode = Culture.Substring(0, 2);
}

<header id="header">
    <div id="topstickynavigation">
        @Html.Partial("_topBar")
        <div class="container">
            <div class="col-lg-12">
                <div class="logobuttonbar hidden-xs">
                    <div>
                        <a class="logo" href="@home.Url">
                            <img class="img hidden-xs lazyload" data-src="@site.Logo.Url" alt="logo" />
                            <div id="home-caption"></div>
                        </a>
                    </div>
                    <div class="hidden-sm hidden-xs">
                        <div class="buttons-right">
                            <a href="@site.UrlAbsolute()@langCode/calculator">
                                <button id="btnBereken" class="stickypaddingbutton hovereffectbutton productActionButton btnCalculator" data-hovercolor="#e38d13" data-color="#9e620d">@Umbraco.GetDictionaryValue("Home.CalculatePrices")</button>
                            </a>
                            <a href="@site.UrlAbsolute()@langCode/order">
                                <button id="btnBestel" class="stickypaddingbutton hovereffectbutton productActionButton btnStartOrder" data-val-connecttoexisting="@Umbraco.GetDictionaryValue("Home.ConnectToOrder")">@Umbraco.GetDictionaryValue("Home.StartOrder")</button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            @*@Html.CachedPartial("_doubleRowNav", Model, 3600, true, false, null, (model, viewData) => Model.GetCulture().ToString())*@
            @Html.Partial("_doubleRowNav")
        </div>
    </div>
</header>