﻿@inherits UmbracoViewPage
<div class="row">
    <div class="col-md-12">
        <div class="row">
            <nav class="navbar navbar-default nonstickyheader" id="header-navigation">
                inuse
                <div class="">
                    <div class="row">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar top-bar"></span>
                                <span class="icon-bar middle-bar"></span>
                                <span class="icon-bar bottom-bar"></span>
                            </button>

                        </div>
                    </div>
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
                                @Html.Partial("_doubleRowNav")
                            </div>
                        </div>

                    </div>
                </div>
            </nav>
        </div>
    </div>
</div>