﻿@inherits UmbracoViewPage<Ophangsysteem>
<div class="row">
    <h2>@Model.Titel</h2>
    <div class="col-md-8 column">
        <div>
            <img class="img-responsive" src="@Model.Afbeelding.Url?anchor=center&amp;mode=crop" alt="@Model.Afbeelding.Name" />
        </div>
    </div>
    <div class="col-md-4 column">
        <div>@Model.Tekst</div>
    </div>
    <div class="col-md-4 col-md-offset-4 thinline">&nbsp;</div>
</div>