﻿@model AuthenticPhoto.Models.ThankyouViewModel

<h3 style='color: #B80000; margin: auto;'>
    @Html.Raw(Model.GetTranslation("Thankyou.Title"))
</h3>
<h3 style="width: 700px; text-align: justify; font-size: 13pt;">
    @Html.Raw(Model.GetTranslation("Thankyou.Subtitle"))
</h3>
<strong>
    @Html.Raw(Model.GetTranslation("Thankyou.MailsCaption"))
</strong>
<ul style="margin-top: 10px;">
    @foreach (string mail in Model.GetTranslation("Thankyou.MailsCsv").Split(';'))
    {
        <li>@Html.Raw(mail)</li>
    }
</ul>