﻿@using Our.Umbraco.Vorto.Models;
@inherits Umbraco.Web.Macros.PartialViewMacroPage

@functions {
    private string GetTranslation(string key)
    {

        if(Context.Session == null)
        {
            return "";
        }

        var content = Model.Content;
        IPublishedContent homepage = content.AncestorOrSelf("Homepage");
        string cultinfo = GetUmbracoCulture();

        object transObj = Context.Session[cultinfo + "." + key];
        if (transObj == null)
        {
            string result = GetDictionaryValue(key, cultinfo);
            Context.Session[cultinfo + "." + key] = result;
            return result;
        }
        else return (string)transObj;
    }
    public string GetDictionaryValue(string key, string iso)
    {
        var dictionaryItem = UmbracoContext.Current.Application.Services.LocalizationService.GetDictionaryItemByKey(key);
        if (dictionaryItem != null)
        {
            var translation = dictionaryItem.Translations.SingleOrDefault(x => x.Language.IsoCode.Equals(iso));
            if (translation != null)
                return translation.Value.Replace("\\n", "<br/>");
        }
        return key;
    }

    public string GetUmbracoCulture()
    {
        var content = Model.Content;
        IPublishedContent homepage = content.AncestorOrSelf("Homepage");
        string cultinfo = (string)homepage.Properties.FirstOrDefault(p => p.PropertyTypeAlias == "cultureinfo").DataValue;
        return cultinfo;
    }

}

@{

    //string baselineTitle = GetTranslation("Home.Baseline.AuthenticLevertOveral.Title");

    //UmbracoHelper umbracoHelper = new UmbracoHelper(UmbracoContext.Current);
    //IPublishedContent htmlTemplates = umbracoHelper.TypedContent(1490);

    //IPublishedContent column1Template = htmlTemplates.Children.FirstOrDefault(c => c.Name.ToLower().Trim().Equals("baseline - authentic levert overal - kolom 1"));
    //IPublishedContent column2Template = htmlTemplates.Children.FirstOrDefault(c => c.Name.ToLower().Trim().Equals("baseline - authentic levert overal - kolom 2"));
    //IPublishedContent column3Template = htmlTemplates.Children.FirstOrDefault(c => c.Name.ToLower().Trim().Equals("baseline - authentic levert overal - kolom 3"));

    //VortoValue vvCol1Html = (VortoValue)column1Template.GetPropertyValue("html");
    //VortoValue vvCol2Html = (VortoValue)column2Template.GetPropertyValue("html");
    //VortoValue vvCol3Html = (VortoValue)column3Template.GetPropertyValue("html");

    //string cult = GetUmbracoCulture();

    //string col1Html = vvCol1Html.Values[cult].ToString();
    //string col2Html = vvCol2Html.Values[cult].ToString();
    //string col3Html = vvCol3Html.Values[cult].ToString();

    string type = (string)Model.MacroParameters["template"];

    UmbracoHelper umbracoHelper = new UmbracoHelper(UmbracoContext.Current);
    IPublishedContent productDetailsDocument = umbracoHelper.TypedContent(type);
    //IPublishedContent productDetailsDocument = htmlTemplates.Children.FirstOrDefault(c => c.Name.ToLower().Replace(" ","").Equals("productdetails-" + type.Replace(" ","")));

    string title = productDetailsDocument.GetPropertyValue("title").ToString();
    string anchor = productDetailsDocument.GetPropertyValue("anchor").ToString();

    List<string> previewTitles = new List<string>();
    List<IPublishedContent> previewImages = new List<IPublishedContent>();
    List<IPublishedContent> fullSizeImages = new List<IPublishedContent>();
    List<IPublishedContent> additionalImages = new List<IPublishedContent>();
    List<IPublishedContent> additionalImages2 = new List<IPublishedContent>();

    List<string> descriptions = new List<string>();
    List<string> additionalDescriptions = new List<string>();
    List<string> additionalDescriptions2 = new List<string>();

    for (int i = 1; i <= 9; i++)
    {
        string previewTitle = productDetailsDocument.GetPropertyValue("pd" + i + "PreviewTitle").ToString();
        if(string.IsNullOrWhiteSpace(previewTitle))
        {
            break;
        }
        previewTitles.Add(previewTitle);
        previewImages.Add(umbracoHelper.TypedMedia(((IPublishedContent)productDetailsDocument.GetPropertyValue("pd" + i + "PreviewImage")).Id));
        fullSizeImages.Add(umbracoHelper.TypedMedia(((IPublishedContent)productDetailsDocument.GetPropertyValue("pd" + i + "FullSizeImage")).Id));
        descriptions.Add(productDetailsDocument.GetPropertyValue("pd" + i + "Description").ToString());

        var additionalImage = productDetailsDocument.GetPropertyValue("pd" + i + "AdditionalImage");
        if (additionalImage != null)
        {
            additionalImages.Add(umbracoHelper.TypedMedia(((IPublishedContent)additionalImage).Id));
            additionalDescriptions.Add(productDetailsDocument.GetPropertyValue("pd" + i + "AdditionalImageDescription").ToString());
        } else
        {
            additionalImages.Add(null);
            additionalDescriptions.Add(null);
        }
        var additionalImage2 = productDetailsDocument.GetPropertyValue("pd" + i + "AdditionalImage2");
        if (additionalImage2 != null)
        {
            additionalImages2.Add(umbracoHelper.TypedMedia(((IPublishedContent)additionalImage2).Id));
            additionalDescriptions2.Add(productDetailsDocument.GetPropertyValue("pd" + i + "AdditionalImage2Description").ToString());
        }
        else
        {
            additionalImages2.Add(null);
            additionalDescriptions2.Add(null);
        }

    }

    bool renderPreviews = (bool)productDetailsDocument.GetPropertyValue("renderPreviews");

}

<section id="@(anchor.ToUrlSegment())" class="container hover-section jumptarget anchor" data-section-id="@title">    
    <section class="productdetails-title">
        <section class="row">
            <h3 class="headlineLv2">@title</h3>
        </section>
    </section>
    @if (renderPreviews)
    {
        <section class="productdetails-previews">
            <div class="row">
                @for (int i = 0; i < previewTitles.Count; i++)
                {
                    string previewTitle = previewTitles[i];
                    string previewImageUrl = (i < previewImages.Count) ? previewImages[i].Url : "";
                    <figure>
                        <div class="col-lg-3 col-md-3 productitem">
                            <a href="#">
                                <div class="productitemitem">
                                    <img src="@previewImageUrl" class="redBox img-responsive hover-image" alt="@previewTitle" data-img-id="@i" data-section-id="@title"/>
                                    <p>
                                        @Html.Raw(previewTitle)
                                    </p>
                                </div>
                            </a>
                        </div>
                    </figure>
                }                
            </div>
        </section>
    }
    <section class="productdetails-detail" style="margin-left:-9px;">
        <div class="row">

            <div class="col-lg-9 col-md-9">
                <div class="img-productdetails-img-background">
                    <img src="" class="img-responsive hover-full-image-placeholder" alt="" data-section-id="@title" />
                </div>
            </div>
            @for (int i = 0; i < previewTitles.Count; i++)
            {
                string fullSizeImageUrl = (i < fullSizeImages.Count) ? fullSizeImages[i].Url : "";
                <div class="col-lg-9 col-md-9" style="display: none;">
                    <img src="@fullSizeImageUrl" class="img-responsive hover-full-image" alt="@previewTitles[i]" data-img-id="@i" data-section-id="@title"/>
                </div>
            }
            <div>
                <div class="hover-full-image-description-placeholder" data-section-id="@title"></div>
            </div>
            @for (int i = 0; i < previewTitles.Count; i++)
            {
                string description = (i < descriptions.Count) ? descriptions[i] : "";
                <div class="col-lg-3 col-md-3" style="display: none;">
                    <div class="hover-full-image-description" data-img-id="@i" data-section-id="@title">
                        @Html.Raw(description)
                    </div>
                </div>
            }

        </div>
        <div class="row">


            <div class="col-lg-9 col-md-9">
                <div class="img-productdetails-additionalimg-background">
                    <img src="" class="img-responsive hover-full-additionalimage-placeholder" alt="" data-section-id="@title" />
                </div>
            </div>
            @for (int i = 0; i < previewTitles.Count; i++)
            {
                if (i < additionalImages.Count && additionalImages[i] != null)
                {
                    string additionalImageUrl = additionalImages[i].Url;
                    <div class="col-lg-9 col-md-9" style="display: none;">
                        <img src="@additionalImageUrl" class="img-responsive hover-full-additional-image" alt="@previewTitles[i]" data-img-id="@i" data-section-id="@title" />
                    </div>
                }
            }
            <div>
                <div class="hover-full-image-additionalimagedescription-placeholder" data-section-id="@title"></div>
            </div>
            @for (int i = 0; i < previewTitles.Count; i++)
            {
                if (i < additionalDescriptions.Count && additionalDescriptions[i] != null)
                {
                    string additionalDescription = additionalDescriptions[i];
                    <div class="col-lg-3 col-md-3" style="display: none;">
                        <div class="hover-full-additional-image-description" data-img-id="@i" data-section-id="@title">
                            @Html.Raw(additionalDescription)
                        </div>
                    </div>
                }
            }

        </div>
        <div class="row">


            <div class="col-lg-9 col-md-9">
                <div class="img-productdetails-additionalimg2-background">
                    <img src="" class="img-responsive hover-full-additionalimage2-placeholder" alt="" data-section-id="@title" />
                </div>
            </div>
            @for (int i = 0; i < previewTitles.Count; i++)
            {
                if (i < additionalImages2.Count && additionalImages2[i] != null)
                {
                    string additionalImage2Url = additionalImages2[i].Url;
                    <div class="col-lg-9 col-md-9" style="display: none;">
                        <img src="@additionalImage2Url" class="img-responsive hover-full-additional-image2" alt="@previewTitles[i]" data-img-id="@i" data-section-id="@title" />
                    </div>
                }
            }
            <div>
                <div class="hover-full-image-additionalimage2description-placeholder" data-section-id="@title"></div>
            </div>
            @for (int i = 0; i < previewTitles.Count; i++)
            {
                if (i < additionalDescriptions2.Count && additionalDescriptions2[i] != null)
                {
                    string additionalDescription2 = additionalDescriptions2[i];
                    <div class="col-lg-3 col-md-3" style="display: none;">
                        <div class="hover-full-additional-image2-description" data-img-id="@i" data-section-id="@title">
                            @Html.Raw(additionalDescription2)
                        </div>
                    </div>
                }
            }

        </div>
    </section>
    
</section>