﻿@using Our.Umbraco.Vorto.Extensions
@using Our.Umbraco.Vorto.Models
@using Umbraco.Web.Extensions
@using Umbraco.Web.Models
@using AuthenticPhoto.Extensions;
@inherits Umbraco.Web.Macros.PartialViewMacroPage

@{
    var parameter = Model.MacroParameters["content"].ToString();
    var promoUdi = Umbraco.GetIdForUdi(Udi.Parse(parameter));
    var typedContent = (PromoContainer)Umbraco.TypedContent(promoUdi);

    var currentDate = DateTime.Now;

    var allPromos = typedContent.Children<Promotie>().Where(x => x.StartDatum <= currentDate && x.EindDatum >= currentDate).ToList();
    allPromos.Shuffle();

    var promo = allPromos.FirstOrDefault();
    ViewBag.Promo = (promo == null) ? false : true;
}

@if (promo != null)
{
    var titel = promo.GetVortoValue("promoTekst");
    <div class="promo-bar hide-xs">
        <div class="col-md-12 col-lg-12">
            <p><strong>@titel</strong> | @Umbraco.GetDictionaryValue("Promo.Van") @promo.StartDatum.ToShortDateString() @Umbraco.GetDictionaryValue("Promo.Tot") @promo.EindDatum.ToShortDateString() | code : <strong>@promo.PromoCode</strong></p>
        </div>
    </div>
}
else
{
    <style>
        .top-wide-promo {
            display: none;
        }
    </style>
}

