﻿@using Our.Umbraco.Vorto.Extensions
@using Our.Umbraco.Vorto.Models
@using Umbraco.Web.Extensions
@using Umbraco.Web.Models
@inherits Umbraco.Web.Macros.PartialViewMacroPage

@{
    var parameter = Model.MacroParameters["content"].ToString();
    var garantieUdi = Umbraco.GetIdForUdi(Udi.Parse(parameter));
    var content = (Showroom)Umbraco.TypedContent(garantieUdi);

    VortoValue vorto = (VortoValue)content.GetPropertyValue("Title");
    var titel = vorto.Values[Culture].ToString();

    string companyStreetNr = Umbraco.GetDictionaryValue("Company.StreetNr");
    string companyCity = Umbraco.GetDictionaryValue("Company.City");
    string companyCountry = Umbraco.GetDictionaryValue("Company.Country");
    string companyOpeningHours1 = Umbraco.GetDictionaryValue("Company.OpeningHours1");
    string companyOpeningHours2 = Umbraco.GetDictionaryValue("Company.OpeningHours2");
    string companyTelephone = Umbraco.GetDictionaryValue("Company.Telephone");
    var site = content.AncestorOrSelf<Site>();
    var adres = site.GetVortoValue("Adres");
    var openingsuren = site.GetVortoValue<IEnumerable<IPublishedContent>>("OpsommingOpeningsuren");
    string breakHours = "<br />";
    if (!content.HasValue("afbeelding1"))
    {
        @Html.Action("Mail", "Error", new { property = "Afbeelding1", errorPage = "Gemeenschappelijk - Productie & Showroom" })
    }
    if (!content.HasValue("afbeelding2"))
    {
        @Html.Action("Mail", "Error", new { property = "Afbeelding2", errorPage = "Gemeenschappelijk - Productie & Showroom" })
    }
}

<section class="threecolumns baseline-article">
    <div class="container">
        <div class="row">
            <h2 class="align-center">
                @Html.Raw(titel)
            </h2>
        </div>
        <article class="showroom">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-12 showroom">
                    <img class="img-responsive lazyload" alt="@(content.Afbeelding1 != null ? content.Afbeelding1.Name : string.Empty)" data-src="@(content.Afbeelding1 != null ? content.Afbeelding1.Url : "/images/Missing_Square.svg")">
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 showroom">
                    <img class="img-responsive lazyload" alt="@(content.Afbeelding2 != null ? content.Afbeelding2.Name : string.Empty)" data-src="@(content.Afbeelding2 != null ? content.Afbeelding2.Url : "/images/Missing_Square.svg")">
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 showroom-map">
                    @Html.Raw(content.GoogleMapEmbed)
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 loc-adres">
                    @Html.Raw(adres)
                    <a href="mailto:@site.Email">@site.Email</a>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 loc-adres">
                    @Html.Raw("<p>")
                    @foreach (Openingsuren item in openingsuren)
                    {
                        @Html.Raw(item.Weekdag + ": " + item.Uren + breakHours)
                        breakHours = "";
                    }
                    @Html.Raw("</p>")
                    <a href="tel:@site.Telefoonnnummer.Replace(" ", "")"><i class="fa fa-phone"></i> @site.Telefoonnnummer</a>
                </div>
            </div>
        </article>
    </div>
</section>