﻿@inherits Umbraco.Web.Macros.PartialViewMacroPage

@{
    var headline = Model.MacroParameters["title"].ToString();
    var description = Model.MacroParameters["description"].ToString();
}

<section class="Whatis">
   
    <header><h1 class="redTitle" style="padding:15px;">@Html.Raw(HttpUtility.HtmlDecode(headline))</h1></header>
    <figure>
        <figcaption class="blueText" style="margin:15px;">
            @Html.Raw(Umbraco.ReplaceLineBreaksForHtml(description))
        </figcaption>
    </figure>
</section>