﻿@using Our.Umbraco.Vorto.Extensions
@using Our.Umbraco.Vorto.Models
@using Umbraco.Web.Extensions
@using Umbraco.Web.Models
@inherits Umbraco.Web.Macros.PartialViewMacroPage

@{
    var parameter = Model.MacroParameters["content"].ToString();
    var garantieUdi = Umbraco.GetIdForUdi(Udi.Parse(parameter));
    var content = (ImageRtecontainer)Umbraco.TypedContent(garantieUdi);
    var nestedContents = content.NestedContent.ToList();

    var titel = content.GetVortoValue("TranslatedTitle");
}

<section class="threecolumns baseline-article">
    <div class="container">
        <div class="row"><h2 class="align-center">@titel</h2></div>
        <div class="row">
            @if (nestedContents.Any())
            {
                foreach (ImagePlusRte item in nestedContents)
                {
                    if (item.Afbeelding != null)
                    {
                        Image afbeelding = (Image)item.Afbeelding;
                        var tekst = item.GetVortoValue("tekst");
                        <div class="col col-lg-4 col-md-4 col-sm-6 col-xs-12 item">
                            <figure>
                                <div class="text-slide-wrapper">
                                    <img data-src="@afbeelding.Url" alt="@afbeelding.Name" class="img-responsive lazyload">
                                    <div class="text-slide">
                                        @Html.Raw(tekst)
                                    </div>
                                </div>
                            </figure>
                        </div>
                    }
                }
            }
        </div>
    </div>
</section>