﻿@using Our.Umbraco.Vorto.Models
@using Umbraco.Web.Extensions
@using Umbraco.Web.Models
@inherits Umbraco.Web.Macros.PartialViewMacroPage

@{
    var parameter = Model.MacroParameters["content"].ToString();
    var garantieUdi = Umbraco.GetIdForUdi(Udi.Parse(parameter));
    var content = (Garantieblok)Umbraco.TypedContent(garantieUdi);
    var garanties = content.Garantie.ToList();
}

<section id="garanties-fotolab">
    <div class="container">       
        <div class="row">
            <div class="col-lg-12">
                <div class="row" style="padding: 16px 0 7px 0; color: #c5000f; font-size: 20pt">
                    @*<div class="row" style="border: 2px solid #c91d28; padding: 16px 0 7px 0; color: #c5000f; font-size: 20pt">*@
                    <div class="col-md-1">&nbsp;</div>
                    @foreach (Garantie garantie in garanties)
                    {
                        VortoValue vorto = (VortoValue)garantie.GetPropertyValue("Garantietekst");
                        string garantietekst = vorto.Values[Culture].ToString();
                        <div class="col-md-2" style="text-align: center">
                            <i class="fa fa-check"></i>
                            <p class="garanties-text">@garantietekst</p>
                        </div>
                    }

                </div>
            </div>
            
        </div>
    </div>
</section>

