﻿@inherits Umbraco.Web.Macros.PartialViewMacroPage

@{
    var headline = Model.MacroParameters["headline"].ToString();
    var image = Umbraco.TypedMedia(Model.MacroParameters["image"]);
}

<header><h4 style="margin-bottom:10px;">@Html.Raw(headline)</h4></header>
<figure>
    <img src="@image.Url" alt="@headline" class="img-responsive">
    
</figure><figcaption>
    <div class="row">


        <button id="btnBerekenBox" class="btn col-lg-5">Bereken Prijs</button>
        <button id="btnBestelBox" class="btn col-lg-5 col-lg-offset-2">Bestel online</button>
    </div>
</figcaption>