﻿@inherits Umbraco.Web.Macros.PartialViewMacroPage

@{
    var title = Model.MacroParameters["title"].ToString();
    var image = Umbraco.TypedMedia(Model.MacroParameters["image"]);
    var description = Model.MacroParameters["description"].ToString();
}

<figure>
    <div class="text-slide-wrapper">
        <img src="@image.Url" alt="@title" class="img-responsive">
        <div class="text-slide">
            <h4>@Html.Raw(title)</h4>
            <span class="text-slide-icon">&#62;</span>
            <figcaption>
                @Html.Raw(Umbraco.ReplaceLineBreaksForHtml(description))
            </figcaption>
        </div>        
    </div>
</figure>