﻿@inherits Umbraco.Web.Macros.PartialViewMacroPage
@{

    var content = Model.Content;
    var productFamily = content.AncestorOrSelf("ProductFamily");
    IPublishedContent product = content.AncestorOrSelf("Product");
    int activeProductId = 0;
    if(product!=null)
    {
        activeProductId = product.Id;
    }

}

<article id="versies">
    <section class="container">
        <div class="col-lg-12">
            <div class="row productsoverview" style="border: 2px solid #c91d28;">
                @Html.Partial("~/Views/Partials/ProductsOverview.cshtml", new AuthenticPhoto.Models.ProductsOverviewViewModel { ProductFamily = productFamily, ActiveProductId = activeProductId })
            </div>
        </div>
    </section>
</article>