﻿@inherits Umbraco.Web.Macros.PartialViewMacroPage
@{
    var title1 = Model.MacroParameters["title1"].ToString();
    var title2 = Model.MacroParameters["title2"].ToString();
    var description1 = Model.MacroParameters["description1"].ToString();
    var productname1 = Model.MacroParameters["productname1"];
    var image1 = string.IsNullOrWhiteSpace(Model.MacroParameters["image1"].ToString()) ? null : Umbraco.TypedMedia(Model.MacroParameters["image1"]);
    var description2 = Model.MacroParameters["description2"].ToString();
    var productname2 = Model.MacroParameters["productname2"];
    var image2 = string.IsNullOrWhiteSpace(Model.MacroParameters["image2"].ToString()) ? null : Umbraco.TypedMedia(Model.MacroParameters["image2"]);
    var description3 = Model.MacroParameters["description3"].ToString();
    var productname3 = Model.MacroParameters["productname3"];
    var image3 = string.IsNullOrWhiteSpace(Model.MacroParameters["image3"].ToString()) ? null : Umbraco.TypedMedia(Model.MacroParameters["image3"]);
    var description4 = Model.MacroParameters["description4"].ToString();
    var productname4 = Model.MacroParameters["productname4"];
    var image4 = string.IsNullOrWhiteSpace(Model.MacroParameters["image4"].ToString()) ? null : Umbraco.TypedMedia(Model.MacroParameters["image4"]);
    var description5 = Model.MacroParameters["description5"].ToString();
    var productname5 = Model.MacroParameters["productname5"];
    var image5 = string.IsNullOrWhiteSpace(Model.MacroParameters["image5"].ToString()) ? null : Umbraco.TypedMedia(Model.MacroParameters["image5"]);
    var description6 = Model.MacroParameters["description6"].ToString();
    var productname6 = Model.MacroParameters["productname6"];
    var image6 = string.IsNullOrWhiteSpace(Model.MacroParameters["image6"].ToString()) ? null : Umbraco.TypedMedia(Model.MacroParameters["image6"]);
    var image1Url = Model.MacroParameters["image1Url"];
    var image2Url = Model.MacroParameters["image2Url"];
    var image3Url = Model.MacroParameters["image3Url"];
    var image4Url = Model.MacroParameters["image4Url"];
    var image5Url = Model.MacroParameters["image5Url"];
    var image6Url = Model.MacroParameters["image6Url"];
    var image1UrlSection = Model.MacroParameters["image1UrlSection"];
    var image2UrlSection = Model.MacroParameters["image2UrlSection"];
    var image3UrlSection = Model.MacroParameters["image3UrlSection"];
    var image4UrlSection = Model.MacroParameters["image4UrlSection"];
    var image5UrlSection = Model.MacroParameters["image5UrlSection"];
    var image6UrlSection = Model.MacroParameters["image6UrlSection"];
    string url1 = !string.IsNullOrWhiteSpace(image1UrlSection.ToString()) ? "#" + image1UrlSection.ToString() : (!string.IsNullOrWhiteSpace(image1Url.ToString()) ? Umbraco.TypedContent(image1Url).Url : "");
    string url2 = !string.IsNullOrWhiteSpace(image2UrlSection.ToString()) ? "#" + image2UrlSection.ToString() : (!string.IsNullOrWhiteSpace(image2Url.ToString()) ? Umbraco.TypedContent(image2Url).Url : "");
    string url3 = !string.IsNullOrWhiteSpace(image3UrlSection.ToString()) ? "#" + image3UrlSection.ToString() : (!string.IsNullOrWhiteSpace(image3Url.ToString()) ? Umbraco.TypedContent(image3Url).Url : "");
    string url4 = !string.IsNullOrWhiteSpace(image4UrlSection.ToString()) ? "#" + image4UrlSection.ToString() : (!string.IsNullOrWhiteSpace(image4Url.ToString()) ? Umbraco.TypedContent(image4Url).Url : "");
    string url5 = !string.IsNullOrWhiteSpace(image5UrlSection.ToString()) ? "#" + image5UrlSection.ToString() : (!string.IsNullOrWhiteSpace(image5Url.ToString()) ? Umbraco.TypedContent(image5Url).Url : "");
    string url6 = !string.IsNullOrWhiteSpace(image6UrlSection.ToString()) ? "#" + image6UrlSection.ToString() : (!string.IsNullOrWhiteSpace(image6Url.ToString()) ? Umbraco.TypedContent(image6Url).Url : "");
}

<article id="versies">
    <section class="container">
        <div class="col-lg-12">
            <div class="row" style="border: 2px solid #c91d28;">
                <div class="row titlesrow">
                    <div class="col-md-12 blueText" style="font-size:18px !important;margin-top:10px;">
                        <div class="col-md-2 productitem" style="margin-left: 4px">@title1</div>
                        <div class="col-md-2 productitem"></div>
                        <div class="col-md-2 productitem"></div>
                        <div class="col-md-2 productitem productitem-margin">@title2</div>
                        <div class="col-md-2 productitem"></div>
                        <div class="col-md-2 productitem"></div>                            
                    </div>
                </div>

                <div class="row thumbsrow">
                    <div class="col-md-12">
                        @if (!string.IsNullOrWhiteSpace(productname1.ToString()))
                        {
                            <div class="col-md-2 productitem">
                                <a class="scroll" href="@url1">
                                    <div class="productitemitem">
                                        <img src="@image1.Url" alt="@description1" class="redBox">
                                        <p>
                                            @Html.Raw(HttpUtility.HtmlDecode(productname1.ToString()))
                                        </p>
                                    </div>
                                </a>
                            </div>
                        }
                        @if (!string.IsNullOrWhiteSpace(productname2.ToString()))
                        {
                            <div class="col-md-2 productitem">
                                <a class="scroll" href="@url2">
                                    <div class="productitemitem">
                                        <img src="@image2.Url" alt="@description2" class="redBox">
                                        <p>
                                            @Html.Raw(HttpUtility.HtmlDecode(productname2.ToString()))
                                        </p>
                                    </div>
                                </a>
                            </div>
                        }
                        @if (!string.IsNullOrWhiteSpace(productname3.ToString()))
                        {
                            <div class="col-md-2 productitem">
                                <a class="scroll" href="@url3">
                                    <div class="productitemitem">
                                        <img src="@image3.Url" alt="@description3" class="redBox">
                                        <p>
                                            @Html.Raw(HttpUtility.HtmlDecode(productname3.ToString()))
                                        </p>
                                    </div>
                                </a>
                            </div>
                        }
                        @if (!string.IsNullOrWhiteSpace(productname4.ToString()))
                        {
                            <div class="col-md-2 productitem productitem-margin">
                                <a class="scroll" href="@url4">
                                    <div class="productitemitem">
                                        <img src="@image4.Url" alt="@description4" class="redBox">
                                        <p>
                                            @Html.Raw(HttpUtility.HtmlDecode(productname4.ToString()))
                                        </p>
                                    </div>
                                </a>
                            </div>
                        }
                        @if (!string.IsNullOrWhiteSpace(productname5.ToString()))
                        {
                            <div class="col-md-2 productitem">
                                <a class="scroll" href="@url5">
                                    <div class="productitemitem">
                                        <img src="@image5.Url" alt="@description5" class="redBox">
                                        <p>
                                            @Html.Raw(HttpUtility.HtmlDecode(productname5.ToString()))
                                        </p>
                                    </div>
                                </a>
                            </div>
                        }
                        @if (!string.IsNullOrWhiteSpace(productname6.ToString()))
                        {
                            <div class="col-md-2 productitem">
                                <a class="scroll" href="@url6">
                                    <div class="productitemitem">
                                        <img src="@image6.Url" alt="@description6" class="redBox">
                                        <p>
                                            @Html.Raw(HttpUtility.HtmlDecode(productname6.ToString()))
                                        </p>
                                    </div>
                                </a>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </section>
</article>







<script type="text/javascript">
    $(document).ready(function () {
        $('a.scroll').off().on("click",function () {
            $('html, body').animate({
                scrollTop: $($(this).attr('href')).offset().top - 40
            }, 500);
            return false;
        });
        $(".text-slide-wrapper").hover(
            function () {
                $(this).find(".text-slide").animate({ bottom: "0px" }, 400, "easeOutQuart");
            },
            function () {
                $(this).find(".text-slide").animate({ bottom: "-95px" }, 400, "easeOutQuart");
            }
        );
    });
</script>
