﻿.print-icon {
    cursor: pointer;
    color: #C5000F;
    font-size: 14px;
}


#divManageUserAccount {
    margin-top: 25px;
}
#divCheckoutOptions {
    width: 80%;
    margin: auto;
}

.checkoutColumn {
    width: 1280px;
    margin: auto;
    font-size: 9pt;
    padding: 15px;
}

#divManageUserAccount h3 {
    margin: 0;
}

#tblPriceRecap {
    width: 300px;
    margin-top: 8px;
    float: right;
}

    #tblPriceRecap tbody td {
        padding: 3px;
        font-size: 13pt;
    }

#lblGrandTotal {
    font-weight: bold;
}

.lblCheckout {
    margin-right: 10px;
}


#ulOrderSummary {
    width: 80%;
    margin: 15px auto;
    padding: 0;
}

    #ulOrderSummary li {
        display: inline-block;
        vertical-align: top;
    }

#btnOrder {
    height: 60px;
    width: 230px;
    display: block;
    padding: 19px 21px 6px 17px;
    font-size: 11pt;
    background-color: #4c923f;
    color: #fff;
    cursor: pointer;
    text-align :center;
}

#btnBackBelow {
    width: 230px;
    height: 35px;
    display: block;
    position: absolute;
    bottom: 0;    
    padding: 7px 28px 6px 17px;
    font-size: 11pt;
    background-color: #E38D13;
    color: #fff;
    cursor: pointer;
}

#divOrderSummary {
    padding: 10px;
    margin-right: 25px;
    background: #eee;
}

    #divOrderSummary table {
        width: 95%;
        font-size: 11pt;
        margin-left: 10px;
    }




@media print {
  body * {
    visibility: hidden;
  }
  #phTotalPriceDetails * {
    visibility: visible;
  }
  #phTotalPriceDetails {
    position: absolute;
    left: 0;
    top: 0;
  }
}