@font-face {
    font-family: "Open Sans";
    src: url("../fonts/OpenSans-regular.ttf") format('truetype'), url('../fonts/opensans-regular-webfont.woff2') format('woff2'), url('../fonts/opensans-regular-webfont.woff') format('woff');
}

@font-face {
    font-family: "Open Sans Light";
    src: url("../fonts/OpenSans-Light.ttf") format('truetype'), url('../fonts/opensans-light-webfont.woff2') format('woff2'), url('../fonts/opensans-light-webfont.woff') format('woff');
}

@font-face {
    font-family: "Open Sans semibold";
    src: url("../fonts/OpenSans-Semibold.ttf") format('truetype'), url('../fonts/opensans-semibold-webfont.woff2') format('woff2'), url('../fonts/opensans-semibold-webfont.woff') format('woff');
}

@font-face {
    font-family: "Open Sans bold";
    src: url("../fonts/OpenSans-Bold.ttf") format('truetype'), url('../fonts/opensans-bold-webfont.woff2') format('woff2'), url('../fonts/opensans-bold-webfont.woff') format('woff');
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

@media (min-width: 1280px) {
    .container {
        width: 1170px;
    }
}

.align-center {
    text-align: center;
}

.showroom iframe {
    width: 100%;
    min-height: 382px;
    border: 1px solid #c91d28;
}

h1 {
    font-size: 2.75em;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.5em;
}

p {
    font-size: 1em;
}

#wiezijnwij {
    margin-top: 20px;
    margin-bottom: 20px;
}

    #wiezijnwij p, #wiezijnwij li {
        text-align: justify;
    }

    #wiezijnwij h3 {
        margin-top: 0;
        margin-bottom: 15px;
    }

    #wiezijnwij h3 {
        margin-top: 0;
    }

.inner-left {
    padding-right: 10px;
}

.inner-right {
    padding-left: 10px;
}

* {
}

#headline h1, h2 {
    color: #c5000f;
}


#garantie {
    font-size: 18px;
    font-family: 'Open Sans';
    color: #C5000F;
}

.redTitle {
    font-family: 'Open Sans';
    color: #c5000f;
    font-size: 18px;
}

#lblBasketCount {
    margin-right: 10px;
    margin-left: 10px;
    cursor: pointer;
}

.imageViewer a {
    color: white;
    text-decoration: none;
}

.Whatis {
    background-color: #ebebeb;
    height: 250px;
}

#versies, #productLine {
    padding-bottom: 30px;
    padding-top: 30px;
}

    #versies .text-slide-wrapper {
        padding: 0;
        border: 2px solid #c91d28;
    }

    #versies .titlesrow {
        font-weight: bold;
    }

    #versies .thumbsrow {
        padding: 5px;
    }

    #versies .productitem {
        padding-left: 3px;
        padding-right: 3px;
        width: 16%;
    }

    #versies .thumbsrow .productitemitem p {
        text-align: center;
        color: #2e3a88 !important;
        font-family: 'Open Sans';
        font-size: 10pt;
        z-index: 10;
        position: absolute;
        bottom: 0px;
        margin: 0px 3px 4px 3px;
        width: 97%;
        font-weight: bold;
        line-height: 12pt;
    }




.redTitle {
    font-family: 'Open Sans';
    color: #c5000f;
    font-size: 18px;
}



.blueText {
    font-family: 'Open Sans';
    color: #2e3a88;
    text-align: left;
    font-size: 16px;
}

#newsletter-form-feedback {
    font-size: 15pt;
    color: rgb(255, 235, 158);
    float: right;
}

    #newsletter-form-feedback .fa-spinner {
        font-size: 12pt;
    }

.baseline-article h2 {
    text-align: center;
    font-size: 23px;
    margin-bottom: 20px;
    font-family: 'Open Sans';
    /*color: #352829;*/
    color: #636363;
}

.imageViewer {
    position: absolute;
    bottom: 30%;
    width: 100px;
    right: 32px;
    text-align: center;
    color: white;
    background-color: #c5000f;
    border: 1px solid #c5000f;
}

#home-intro {
    margin-top: 30px;
    height: 300px;
}

.garanties-text {
    color: #222c69;
    text-align: center;
    font-family: open sans;
    font-size: 16px;
}

#garanties-fotolab .col-lg-12 {
    padding-left: 0px;
    padding-right: 0px;
}

.navbar .container {
    background-color: white;
    margin: 0;
}

#topstickynavigation {
    white-space: nowrap;
    z-index: 100;
    background-color: white;
}

    #topstickynavigation ul {
        list-style: none;
        padding-left: 0;
        margin: 0;
    }

        #topstickynavigation ul > * {
            display: inline-block;
            vertical-align: middle;
        }

    #topstickynavigation.sticky {
        position: fixed;
        top: 0;
        width: 100%;
    }

    #topstickynavigation a.small-logo #home-caption {
        text-transform: uppercase;
        font-size: 8pt;
        position: relative;
        top: 40px;
        left: -30px;
        display: block;
    }

    #topstickynavigation a.logo #home-caption {
        text-transform: uppercase;
        font-size: 8pt;
        position: relative;
        top: 52px;
        left: -545px;
        display: block;
    }

    #topstickynavigation a:hover {
        text-decoration: none;
    }

body {
    font-family: open sans, open sans semibold, sans-serif;
    font-size: 11pt;
    color: #000000;
}

@media screen and (min-width:900px) {
    .bottom-column {
        position: absolute;
        bottom: 0;
        right: 18px;
    }
}

.scrollToTop {
    width: 70px;
    height: 50px;
    padding: 10px;
    text-align: center;
    font-weight: bold;
    font-size: 14pt;
    color: #fff;
    text-decoration: none;
    position: fixed;
    bottom: 35%;
    right: 0px;
    position: fixed;
    display: none;
    background: #c5000f;
}

    .scrollToTop:hover {
        text-decoration: none;
    }

.eu-cookie-bar-notification {
    background-color: #E38D13;
    color: white;
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 1002;
    width: 320px;
    /* height: 180px; */
    height: auto;
    margin: -90px 0 0 -160px;
    border: 1px solid #bbb;
    padding: 10px;
    text-align: center;
    left: 0;
    top: auto;
    bottom: 0;
    margin: 0;
    border: none;
    width: 100%;
}

    .eu-cookie-bar-notification .text {
        /* margin-bottom: 20px; */
        line-height: 20px;
        display: inline-block;
    }

    .eu-cookie-bar-notification .buttons-more a:focus, .eu-cookie-bar-notification .buttons-more a:hover {
        text-decoration: none;
    }

    .eu-cookie-bar-notification #cookie-bar-close {
        display: inline-block;
        border: 1px solid #fff;
        padding: 8px;
        color: #fff;
        position: relative;
        left: 20px;
        bottom: 16px;
        cursor: pointer;
        text-decoration: none;
    }

.top-bar-wrapper {
    background-color: #f3f3f3;
    height: 34px;
    display: flex;
}

.top-bar-wrapper-producttool {
    height: 44px;
}

.top-bar-wrapper-producttool #navbartopmenu ul {
    margin: 0;
}

.top-bar-wrapper-producttool .logo {
    width: 270px;
    margin-left: 12px;
}

.top-bar {
    width: 970px;
}

.img-responsive {
    margin: 0 auto;
    width: 100%;
}

.no-padding {
    margin-left: -15px;
    margin-right: -15px;
}

.clear {
    clear: both;
}


/* ===============================
              BOOTSTRAP
   =============================== */

.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}

.col-xs-15 {
    width: 20%;
    float: left;
}

@media (min-width: 768px) {
    .col-sm-15 {
        width: 20%;
        float: left;
    }
}

@media (min-width: 992px) {
    .col-md-15 {
        width: 20%;
        float: left;
    }
}

@media (min-width: 1200px) {
    .col-lg-15 {
        width: 20%;
        float: left;
    }
}

input.form-fixer {
    height: 30px;
    padding: 5px;
    font-size: 19px;
}

.form-horizontal .control-label.form-fixer {
    padding-top: 4px;
}

.btn.form-fixer {
    margin-top: 20px;
    padding-bottom: 30px;
    margin-left: 10px;
}

.checkbox input[type=checkbox], .checkbox-inline input[type=checkbox], .radio input[type=radio], .radio-inline input[type=radio] {
    position: initial;
    margin-left: 0px;
}

/* ===============================
              TOOLMENU
   =============================== */
.toolmenu a {
    color: #2e3a88;
}


.toolmenu {
    padding-left: 0;
    text-align: left;
    color: #2e3a88;
    margin: 3px 0 3px 0px;
}

.navbartopmenu-wrapper {
    height: 100%;
}

#navbartopmenu {
    padding: 0;
    display: flex;
    justify-content: space-between;
    height: 100%;
}

#navbartopmenu-left {
    display: flex;
    align-items: center;
    list-style-type: none;
}

    #navbartopmenu-left li {
        padding-right: 10px;
    }

#navbartopmenu-right {
    display: flex;
    align-items: center;
    list-style-type: none;
}

#navbartopmenu a {
    color: #000;
}

.toolmenu li {
    display: inline;
    margin-right: 30px;
}


/* ===============================
              LOGO
   =============================== */

.logo img {
    max-width: 550px;
}

.small-logo {
    max-height: 90px;
    position: relative;
    top: 20px;
    width: 35px;
}

    .small-logo img {
        display: block;
    }

#header img {
    float: left;
}

/* ===============================
              TOPMENU
   =============================== */
.topmenu {
    text-align: right;
}

    .topmenu ul li {
        display: inline;
        margin-right: 30px;
        color: #2e3a88;
    }

        .topmenu ul li a {
            color: #c5000f;
            text-transform: uppercase;
        }

/* ===============================
            NAVIGATION
   =============================== */

.nav > li > a {
    position: initial;
    color: black;
}

#loginLink {
    color: black;
}

.productitem {
    padding-left: 3px;
    padding-right: 3px;
    width: 16%;
}

.productitem-margin {
    margin-left: 10px;
}


.dropdown-menu > .row {
    background-color: #f6f6f6;
    margin: 25px;
}

.text-nowrap {
    white-space: nowrap;
}

a.productFamilyLink, a.productFamilyLink:hover {
    text-decoration: none;
}


.productsoverview p {
    text-align: center;
    color: #2e3a88 !important;
    font-family: 'Open Sans';
    font-size: 10pt;
    z-index: 10;
    position: absolute;
    bottom: 0px;
    margin: 0px 3px 4px 3px;
    width: 97%;
    font-weight: bold;
    line-height: 12pt;
}

.alacartebanner {
    width: 282px;
    float: left;
    border-right: 5px solid #2e3a88;
    border-top: 5px solid #2e3a88;
    padding: 0;
}

    .alacartebanner img {
        max-width: 100%;
    }

.producstrow {
    overflow: hidden;
}

    .producstrow h3 {
        font-family: open sans semibold, sans serig;
        color: #2e3a88;
        font-size: 18px;
        /*padding: 0 18px;*/
        /*margin-top: 30px;*/
        margin-top: 10px;
        margin-bottom: 3px;
        text-align: left;
    }

.productitemitem {
    /*border: 1px solid #2e3a88;*/
    margin-bottom: 5px;
    margin-top: 5px;
    position: relative;
}

    .productitemitem .redBox {
        border: 1px solid #c4000e;
    }

        .productitemitem .redBox:hover {
            /*outline: 5px solid #2e3a88;*/
            outline: 2px solid #c4000e;
        }

    .productitemitem .activeRedBox {
        border: 4px solid #c4000e;
    }

.alacarteproducts a {
    text-decoration: none !important;
}

/* ===============================
            STICKY NAVIGATION
   =============================== */
nav h2 {
    color: #c5000f;
    font-size: 25px;
    text-align: center;
    margin-bottom: 22px;
}

#header {
    width: 100%;
    /*position: sticky;
    top: -1000px;*/
    transition: top 0.5s ease 0s;
}

.homepagesticky {
    background-color: #fff;
    z-index: 20;
    top: 0;
    width: 1170px;
}

    .homepagesticky.affix {
        box-shadow: 0 4px 3px -2px #cacaca;
    }

#header .productfamily-title {
    font-size: 20pt;
    text-align: left;
    font-family: open sans semibold, sans serif;
    max-width: 850px;
    margin: 0;
}

#header .product-title {
    float: left;
    font-size: 12pt;
    text-align: left;
    font-family: open sans semibold, sans serif;
    max-width: 850px;
    margin: 0 0 13px 0;
}

.prijsberekeningtekst {
    font-size: 17px;
}

.stickypadding {
    padding: 27px 0;
    float: left;
}

    .stickypadding input {
        height: 40px;
        width: 100px;
        text-align: center;
    }

.stickypaddingbutton {
    height: initial;
    width: initial;
    border: none;
    padding: 10px 19px;
    font-size: 13pt;
    margin: 1px;
    display: inline;
}

.productActionButton {
    cursor: pointer;
}

.btnStartOrder {
    color: #fff;
    background-color: #c5000f;
    border: 1px solid #c5000f;
}

.btnCalculator {
    color: #fff;
    background-color: #e38d13;
    border: 1px solid #e38d13;
}

.prijsberekening {
    display: inline-block;
    float: left;
    padding: 22px 18px;
}

    .prijsberekening .prijsberekeningprijs {
        font-family: open sans semibold, sans serif;
        font-size: 30px;
    }

    .prijsberekening .excltransport {
        font-family: open sans light, sans serif;
        font-size: 12px;
        display: block;
        margin-top: -5px;
    }

.top-phone a {
    color: black;
}

    .top-phone a:hover {
        text-decoration: none;
    }

#header ul.mainnav li:hover a {
    font-weight: bold;
    border-bottom: 1px solid #c5000f;
    padding-bottom: 10px;
}

#header .nav li .line {
    height: 10px;
    background-color: #ffffff;
    border: 2px solid #2e3a88;
    border-bottom: none;
    display: none;
}

#header .nav li:hover .line {
    background-color: #2e3a88;
}

#header ul.nav li.activenav a {
    font-weight: bold;
    border-bottom: 1px solid #c5000f;
    padding-bottom: 10px;
}

#header .nav li.active .line {
    background-color: #2e3a88;
}

#header .nav li.active:hover a {
    background-color: #ffffff;
}

.jumptarget {
    overflow: initial !important;
}

    .jumptarget:before {
        content: "";
        display: block;
        height: 153px; /* fixed header height*/
        margin: -153px 0 0; /* negative fixed header height */
        overflow: hidden;
    }

article {
    overflow: hidden;
    margin: 0;
}

hr {
    margin-top: 22px;
    margin-bottom: 22px;
    border-top: 3px solid #ebebeb;
}

/* =============================
            5-COLUMNS
   ============================= */

.col-md-5ths,
.col-lg-5ths {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.col-md-4ths:not(:first-of-type),
.col-lg-4ths:not(:first-of-type) {
    position: relative;
    min-height: 1px;
    margin-left: 6.5%;
}


@media (min-width: 992px) {
    .col-md-5ths {
        width: 20%;
        float: left;
    }

    .col-md-4ths {
        width: 15%;
        float: left;
    }

    .col-md-5ths-offset-1 {
        margin-left: 20%;
    }

    .col-md-5ths-offset-2 {
        margin-left: 40%;
    }
}



@media (min-width: 1200px) {
    .col-lg-5ths {
        width: 20%;
        float: left;
    }

    .col-lg-4ths {
        width: 20%;
        float: left;
    }
}

/* =============================
            CAROUSEL
   ============================= */

/*#myCarousel {
    border: 1px silver solid;
}*/

.carousel-caption h3 {
    color: #2e3a88;
    font-size: 1.5em;
}


.carousel-caption a {
    margin-top: 0px;
    text-decoration: none;
    background-color: #c5000f;
    color: white;
    padding: 11px;
    display: inline-block;
    font-size: 12pt;
}


.carousel-caption p {
    color: black;
}

.vijfkolommen {
    margin-top: 25px;
}

.row-item {
    padding: 0;
    min-height: 312px;
}

    .row-item .subtext {
        margin: 1px;
    }


@media (min-width: 1200px) {
    .carousel-caption h2 {
        font-size: 2.4em;
    }

    .carousel-caption h3 {
        font-size: 1.5em;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .carousel-caption h2 {
        font-size: 1.6em;
    }

    .carousel-caption h3 {
        font-size: 1.2em;
    }

    .carousel-caption a {
        padding: 10px !important;
        font-size: 10pt !important;
    }
}

@media (max-width: 767px) {
    .carousel-caption h2 {
        font-size: 1.3em;
        margin-bottom: 0;
    }

    .carousel-caption a {
        padding: 8px !important;
        font-size: 10pt !important;
    }
}

.carousel-indicators li {
    width: 9px;
    height: 9px;
    background-color: #fff;
    border: 1px solid #c5000f;
}

.carousel-indicators .active {
    width: 9px;
    height: 9px;
    background-color: #c5000f;
    border: 1px solid #fff;
    position: relative;
    bottom: 1px;
}

.carousel-control {
    width: 7%;
}

    .carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right, .carousel-control .icon-next, .carousel-control .icon-prev {
        font-size: 20px;
    }

    .carousel-control.right {
        background-image: none;
        background-color: none;
    }

    .carousel-control.left {
        background-image: none;
        background-color: none;
    }


.carousel-fade .carousel-inner .item {
    opacity: 0;
    transition-property: opacity;
}

.carousel-fade .carousel-inner .active {
    opacity: 1;
}

    .carousel-fade .carousel-inner .active.left,
    .carousel-fade .carousel-inner .active.right {
        left: 0;
        opacity: 0;
        z-index: 1;
    }

.carousel-inner > .item {
    border: none;
    max-height: 658px;
}

.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
    opacity: 1;
}

.carousel-fade .carousel-control {
    z-index: 2;
}

/* ============================
        NIEUWSBRIEF FORM
   ============================ */
#nieuwsbrief {
    margin-top: 20px;
}

#newsletter-form-submit {
    border: 1px solid white;
    background-color: transparent;
    padding: 10px;
}


#nieuwsbrief section {
    background-color: #E38D13;
    padding: 0;
}

#nieuwsbrief .nieuwsbriefcol {
    /*padding: 50px;*/
}

.nieuwsbrieftekst {
    margin-bottom: 10px;
    margin-top: 19px;
}

#nieuwsbrief .form-control {
    height: 50px;
    padding: 0;
    padding-left: 25px;
    border-radius: 0;
    font-size: 20px;
    color: #cdcdcd;
}

#nieuwsbrief input, #nieuwsbrief button {
    float: left;
}

#nieuwsbrief .form-group {
    margin-bottom: 0;
}

#nieuwsbrief .btn {
    height: 50px;
    margin-left: 50px;
    background: none;
    padding: 10px;
    padding-right: 10px;
    padding-left: 10px;
    text-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 1px solid white;
    font-size: 20px;
}

.nieuwsbriefcol {
    font-size: 25px;
    color: #ffffff;
    text-align: center;
}

    .nieuwsbriefcol strong {
        font-weight: normal;
        font-family: open sans semibold, sans serif;
    }

    .nieuwsbriefcol.bedrag {
        margin-left: -10px;
        padding-top: 20px;
    }

.tieneuro {
    font-size: 134px;
    line-height: 1;
    font-family: open sans semibold;
}

.video-box {
    margin-top: 40px;
}


.waardebon {
    text-transform: uppercase;
    font-size: 38px;
    line-height: 1;
    display: block;
}

.borderline {
    float: left;
    border-left: 5px solid #ffffff;
    /*margin-top: 25px;*/
    min-height: 275px;
    margin-left: -5px;
}

/* ============================
         HOMEPAGE VIDEO
   ============================ */

#home-intro section {
    padding-bottom: 30px;
}

.intro-tekst {
    text-align: center;
    padding: 70px 75px;
}

    .intro-tekst p {
        margin-bottom: 30px;
        margin-top: 5px;
    }

    .intro-tekst h2 {
        font-size: 32px;
        font-family: "open sans semibold", sans serif;
    }

    .intro-tekst p {
        font-size: 32px;
        line-height: 32px;
    }



.video-container {
    padding: 15px 0px 0px 15px;
}

.vid {
    position: relative;
    padding-bottom: 250px;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
    margin-bottom: 25px;
    font-family: 'Open Sans';
    font-size: 18px;
    color: #c5000f;
}

    .vid .caption {
        position: absolute;
        top: 32%;
        left: 20px;
    }

    .vid iframe, .vid object, .vid embed {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        max-height: 280px;
    }

/*Mobile Rendering. Add to the very end of your CSS file.*/
@media only screen and (max-device-width: 800px), only screen and (device-width: 1024px) and (device-height: 600px), only screen and (width: 1280px) and (orientation: landscape), only screen and (device-width: 800px), only screen and (max-width: 767px) {
    .video-container {
        padding-bottom: 10px;
    }

    .flex-video {
        padding-top: 0;
    }
}

/* ============================
         ZO BESTEL JE
   ============================ */


#zo-bestel-je h2 {
    color: #c5000f;
    font-size: 32px;
    text-align: center;
    text-transform: uppercase;
    font-family: open sans semibold, sans serif;
}

/* ============================
            HEADLINE
   ============================ */

.headline {
    margin: 0px auto 0px;
    color: #222c69;
    font-size: 19pt;
    text-align: center;
    /*text-transform: uppercase;*/
    font-family: open sans, sans serif;
    padding: 20px 15px 15px 15px;
}

.headlineBestelOnline {
    background-color: #f3f3f3;
}





/* ============================
            SAMPLEBOX
   ============================ */

#samplebox section {
    background: #ebebeb;
    padding-top: 43px;
    padding-bottom: 43px;
    font-size: 24px;
}

#samplebox img {
    border: 1px solid #c81523;
}


/* ============================
            SHOWROOM
   ============================ */
.showroom {
    background-color: #f3f3f3;
    padding-bottom: 20px;
    padding-top: 7px;
}

#location section {
    /*background: #ebebeb;*/
    padding-bottom: 20px;
    overflow: hidden;
}

    #location section h2 {
        text-align: center;
        font-size: 22px;
        margin-bottom: 20px;
        font-family: 'Open Sans';
        color: #c5000f;
    }

#location img {
    width: 100% !important;
    height: inherit !important;
}

#location .container {
    padding: 18px 0 18px 0;
    background-color: #ebebeb;
}


.loc-adres a {
    color: #2e3a88;
}


.location img {
    border: 1px solid #c91d28;
}

.loc-adres {
    font-size: 16px;
    font-family: 'Open Sans';
    color: #2e3a88;
    padding-left: 18px !important;
}

.loc-uren {
    text-align: right;
    font-size: 16px;
    font-family: 'Open Sans';
    color: #2e3a88;
    padding-right: 18px !important;
}

.showroom-map img {
    border: 1px solid #c91d28;
}

/* ============================
            GARANTIES
   ============================ */

#garanties {
    margin-bottom: 70px;
}


    #garanties section h2 {
        color: #c5000f;
        font-size: 32px;
        text-align: center;
        text-transform: uppercase;
        font-family: open sans semibold, sans serif;
    }

    #garanties ul li {
        margin-bottom: 15px;
        width: 33%;
        float: left;
        list-style: none;
        text-align: center;
    }

        #garanties ul li:before {
            content: "•";
            font-size: 20px;
            margin-right: 5px;
            position: relative;
            top: 3px;
        }

        #garanties ul li:first-child {
            width: 50%;
            text-align: center;
        }

        #garanties ul li:second-child {
            width: 50%;
            text-align: center;
        }

/* ============================
            LANDEN
   ============================ */

#landen {
    margin-bottom: 70px;
}



    #landen section h2 {
        color: #c5000f;
        font-size: 32px;
        text-align: center;
        text-transform: uppercase;
        font-family: open sans semibold, sans serif;
    }

    #landen ul li {
        margin-bottom: 15px;
        width: 20%;
        float: left;
        list-style: none;
        /*text-align: center;*/
    }

        #landen ul li:before {
            content: "•";
            font-size: 20px;
            margin-right: 5px;
            position: relative;
            top: 3px;
        }



/* ============================
            threecolumns
   ============================ */


.threecolumns {
    margin-top: 10px;
}

    .threecolumns .col {
        padding: 0;
    }

    .threecolumns .item {
        margin-bottom: 15px;
    }

    .threecolumns img {
        border: 0;
        height: 100%;
    }

    .threecolumns figure {
        width: 96%;
        margin: auto;
        border: 1px silver solid;
        border-radius: 4px;
        overflow: hidden;
    }

    .threecolumns .text-slide {
        position: absolute;
        bottom: -92px;
        background-color: rgba(255,255,255,.8);
        font-size: 10pt;
        padding: 14px 10px 10px 10px;
        width: 100%;
        text-align: center;
        height: 145px;
        pointer-events: none;
    }

/* ============================
            fourcolumns
   ============================ */

.fourcolums {
    margin-top: 35px;
}

    .fourcolums .col {
        padding: 0;
    }

    .fourcolums figure {
        width: 96%;
        margin: auto;
        /*border: 1px silver solid;*/
        border: none !important;
        border-radius: 4px;
        overflow: hidden;
    }

    .fourcolums .griditem {
        /* margin-bottom: 10px; */
        min-height: 440px;
    }

    .fourcolums .text-slide {
        font-size: 10pt;
        padding: 14px 10px 10px 10px;
        margin-left: 7px;
        margin-bottom: 5px;
        width: 100%;
        text-align: center;
        pointer-events: none;
        color: #211f1f !important;
    }

/* ============================
            meganav
   ============================ */

li.dropdown-full {
    font-size: 8pt !important;
    text-transform: uppercase;
}

.navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 0;
    border: none;
}

.nav-item {
    height: 335px;
    /* padding: 10px; */
}

    .nav-item h4 {
        text-transform: uppercase;
        padding-bottom: 3px;
        font-size: 0.7em;
        color: #211f1f;
        text-align: center;
    }

    .nav-item figure {
        width: 100%;
        margin: auto;
        overflow: hidden;
    }

    .nav-item .text-slide {
        font-size: 9pt;
        color: #211f1f;
        /*padding: 14px 10px 10px 10px;*/
        margin: 0 !important;
        padding: 0 !important;
        /*margin-top: 3px;*/
        width: 100%;
        text-align: center;
        /*height: 145px;*/
        pointer-events: none;
        text-transform: initial;
    }

        .nav-item .text-slide img {
            position: relative;
            top: 5px;
            left: 20px;
        }

/*.nav-item .text-slide p.smaller { 
        font-size: 10pt !important;
        white-space: normal !important;
        text-overflow: clip !important; 
        text-align: center !important;
    }*/


.text-slide-wrapper {
    position: relative;
    overflow: hidden;
    height: 100%;
}

.text-slide h3 {
    margin: 0 0 7px 0;
    font-size: 1.0em;
    font-weight: bold;
}

    .text-slide h3.smaller {
        font-size: 1.0em;
        font-weight: bold;
    }

.text-slide h4 {
    margin: 0 0 25px 0;
    font-size: 1.0em;
    font-weight: bold;
}

    .text-slide h4.smaller {
        font-size: 1.1em;
    }

.text-slide p {
    font-size: 10pt;
}

    .text-slide p.smaller {
        font-size: 10pt;
    }

.text-slide-icon {
    position: absolute;
    top: 9px;
    right: 11px;
    font-family: monospace;
    font-size: 14pt;
}




h3.headlineLv2 {
    text-align: center;
    font-size: 22px;
    margin: 25px 0 25px 0;
}

#test-certificaat {
    margin-bottom: 40px;
    padding-top: 30px;
}

    #test-certificaat section {
        padding: 0px;
    }

.padding-test {
    background: #ebebeb;
    padding: 20px !important;
    margin-right: 15px;
}

.padding-cert {
    background: #ebebeb;
    padding: 20px !important;
    margin-left: 15px;
}

#testprint figcaption, #handtekening figcaption, #handtekening figcaption {
    margin: 1em 0;
    font-size: 16px;
    font-family: 'Open Sans';
    color: #2e3a88;
}

.padding-test, .padding-cert {
    /*height: 580px;*/
    height: 380px;
}

#testprint {
    padding-right: 0px;
}

.productdetails-previews .row .col-lg-15 {
    width: 16%;
    padding-left: 3px;
    padding-right: 3px;
}

.productdetails-previews .row .col-lg-3 {
    width: 16%;
    padding-left: 3px;
    padding-right: 3px;
}

.productdetails-previews .text-slide-wrapper {
    border: 1px solid #c4000e;
    padding: 0;
    margin: 15px 0 15px 0;
}

.productdetails-previews .productitemitem p {
    pointer-events: none;
    text-align: center;
    color: #2e3a88 !important;
    font-family: 'Open Sans';
    font-size: 10pt;
    z-index: 10;
    position: absolute;
    bottom: 0px;
    margin: 0px 3px 4px 3px;
    width: 97%;
    font-weight: bold;
    line-height: 12pt;
}

.img-productdetails-img-background img, .img-productdetails-additionalimg-background, .img-productdetails-additionalimg2-background img {
    border: 1px solid #c4000e;
}

    .img-productdetails-additionalimg-background img[src=''], .img-productdetails-additionalimg2-background img[src=''] {
        display: none;
    }

.productdetails-detail {
    margin-top: 10px;
}

    .productdetails-detail p {
        text-align: justify;
    }

    .productdetails-detail .row {
        margin-top: 10px;
    }

        .productdetails-detail .row .col-lg-9 {
            display: table-cell;
            width: 65%;
        }

        .productdetails-detail .row .hover-full-image-description-placeholder {
            display: table-cell;
        }

/* ============================
            SAMPLEBOX
   ============================ */
#samplebox h2 {
    font-size: 37px;
    font-family: open sans semibold;
    width: 220px;
    text-align: center;
    margin: 133px auto;
}

/* ============================
            WIE IS?
   ============================ */

#wie {
    margin-bottom: 15px;
}

    #wie .container {
        padding: 18px 0 18px 0;
        background-color: #ebebeb;
    }

    #wie h2 {
        color: #c5000f;
        font-size: 32px;
        text-align: center;
        text-transform: uppercase;
        font-family: open sans semibold, sans serif;
    }

    #wie h3 {
        font-size: 21px;
        margin-bottom: 34px;
        font-family: open sans semibold, sans serif;
        color: #2e3a88;
    }

    #wie .col-lg-4 p {
        text-align: justify;
        margin: 0;
    }

        #wie .col-lg-4 p img {
            width: 100% !important;
            height: auto !important;
        }



/* ============================
          LEVERING OVERAL
   ============================ */


/* =================================
           PRODUCT PAGINA
   ================================= */
#bannerimage img {
    border: 5px solid #2e3a88;
}

#product-intro-3kolommen {
    margin-bottom: 75px;
}

    #product-intro-3kolommen h1 {
        text-align: center;
        font-size: 36px;
        color: #c4000e;
        text-transform: uppercase;
        font-family: open sans semibold, sans serif;
    }

    #product-intro-3kolommen h2 {
        font-size: 21px;
        text-transform: uppercase;
        margin-bottom: 34px;
        font-family: open sans semibold, sans serif;
    }

    #product-intro-3kolommen p {
        font-size: 21px;
        line-height: 24px;
        color: #000000;
    }

#product-detail-info h2 {
    text-align: center;
    font-size: 36px;
    color: #c4000e;
    padding-bottom: 35px;
    margin-bottom: 25px;
    border-bottom: 5px solid #eaeaea;
    text-transform: uppercase;
    font-family: open sans semibold, sans serif;
}

#selecteer-versie {
    position: relative;
    padding-bottom: 35px;
    margin-bottom: 35px;
    border-bottom: 5px solid #eaeaea;
}

    #selecteer-versie h3, #selecteer-fotopapier h3, #selecteer-lijst h3, #selecteer-ophangsysteem h3 {
        font-size: 30px;
        color: #c4000e;
        text-align: center;
        margin-bottom: 30px;
        text-transform: uppercase;
        font-family: open sans semibold, sans serif;
    }

.hover-full-image-description-placeholder h3 {
    color: #000000;
}

    .hover-full-image-description-placeholder h3:first-child {
        margin-top: 0 !important;
    }

.upload-knop-versie-select a {
    display: inline;
    color: #FFFFFF;
    background: #c4000e;
    padding: 17px 36px;
    position: absolute;
    right: 50px;
    top: 10px;
    font-size: 18px;
}

.product-selecteer-overzicht {
    margin-bottom: 35px;
    overflow: hidden;
}

.papier-selecteer-overzicht div {
    margin-bottom: 45px;
}

.product-selecteer-overzicht .selecteer-item {
    width: 20%;
    float: left;
    padding-left: 15px;
    padding-right: 15px;
}

    .product-selecteer-overzicht .selecteer-item figure {
        margin-left: 15px;
        margin-right: 15px;
    }

        .product-selecteer-overzicht .selecteer-item figure:first-child {
            margin-left: 0px;
            margin-right: 15px;
        }

        .product-selecteer-overzicht .selecteer-item figure:last-child {
            margin-left: 15px;
            margin-right: 0px;
        }

        .product-selecteer-overzicht .selecteer-item figure a img, .papier-selecteer-overzicht div figure a img, #selecteer-lijst section div figure a div img, #selecteer-lijst section div figure div img, #selecteer-ophangsysteem div img, .hover-image {
            margin-top: 0px !important;
            margin-bottom: 0px !important;
        }

#selecteer-lijst section div div.col-lg-3.col-md-3 div figure a:hover div img {
    outline: 3px solid #c4000e;
}

#selecteer-lijst section div div div.col-lg-3.col-md-3 figure:nth-child(2) a div img {
    margin-top: 39px;
}

.product-selecteer-detail h4, .papier-selecteer-detail h4 {
    font-size: 21px;
    color: #000000;
    line-height: 24px;
    margin-bottom: 40px;
    text-transform: uppercase;
}

.product-selecteer-detail p, .papier-selecteer-detail p {
    font-size: 21px;
    color: #000000;
    line-height: 24px;
}

.product-selecteer-detail img, .papier-selecteer-detail img {
    border: 1px solid #c4000e;
}

#selecteer-fotopapier, #selecteer-lijst, #selecteer-ophangsysteem {
    padding-bottom: 35px;
    margin-bottom: 35px;
    border-bottom: 5px solid #eaeaea;
}

.alu-lijst h4 {
    font-family: open sans semibold;
    font-size: 20px;
    text-transform: uppercase;
}

.alu-lijst .addmargin {
    margin-top: 30px;
}

.vierkleuren {
    border: 1px solid #c4000e;
    overflow: hidden;
}

#selecteer-lijst h5 {
    font-family: open sans semibold;
    font-size: 18px;
    color: #2e3a88;
    text-align: center;
}

#leveringoveral h2 {
    color: #c5000f;
    font-size: 32px;
    text-align: center;
    text-transform: uppercase;
    font-family: open sans semibold, sans serif;
}

.white-block {
    padding: 35px;
    font-size: 24px;
}

    .white-block img {
        margin-bottom: 25px;
    }

/* ============================
             FOOTER
   ============================ */

#footer {
    border-top: 8px solid #c5000f;
    background: #ebebeb;
    padding-top: 20px;
    font-size: 16px;
    color: #000000;
}

footer h2 {
    color: #c5000f;
    font-size: 22px;
    margin-bottom: 20px;
    margin-top: 0;
    font-family: 'Open Sans';
    width: 100%;
    display: block;
    overflow: hidden;
}

footer ul {
    padding: 0px;
}

    footer ul li {
        list-style: none;
    }

        footer ul li a {
            color: #000000;
            -webkit-transition: ease 0.3s;
            transition: ease 0.3s;
        }

footer .row section {
    padding-left: 30px !important;
    padding-right: 30px !important;
}

footer .copyright {
    text-align: center;
    font-size: 16px;
    margin-bottom: 14px;
    padding: 0 18px;
}

footer header figure img {
    border: none;
    float: right;
    width: 100%;
    /*margin-bottom:15px;*/
}

.alignright {
    text-align: right;
}

/* ========================================
                MEDIA QUERIES
   ======================================== */

@media screen and (max-width:1279px) {
    #nieuwsbrief .bedrag {
        padding: 98px 0;
    }

    #nieuwsbrief .btn {
        margin-left: 20px;
    }

    .tieneuro {
        font-size: 103px;
    }

    .waardebon {
        font-size: 31px;
    }

    .borderline {
        height: 287px;
    }

    #samplebox h2 {
        margin: 0;
        margin-top: 43px;
        width: initial;
    }

    #selecteer-lijst section div div div.col-lg-3.col-md-3 figure:nth-child(2) a div img {
        margin-top: initial;
    }

    #selecteer-lijst section div .addmargin .col-lg-3.col-md-3 div figure:nth-child(2) a div img {
        margin-top: 10px;
    }

    .stickypaddingbutton .button {
        padding: 15px 10px;
    }

    .prijsberekeningtekst {
        display: none;
    }

    #header h2 {
        max-width: 200px;
        font-size: 18px;
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .padding-test, .padding-cert {
        height: 482px;
    }
}

@media screen and (max-width:992px) {


    body {
        font-size: 14px;
    }

    .borderline {
        display: none;
    }

    .nieuwsbriefcol.bedrag {
        margin-left: 0;
        display: none;
    }

    #nieuwsbrief .bedrag {
        padding: initial;
        padding-bottom: 50px;
    }

    .waardebon {
        font-size: 35px;
        display: block;
    }

    .padding-cert, .padding-test {
        margin: 0;
        height: initial;
    }

    #nieuwsbrief .container {
        margin-top: 35px;
        border: none;
    }

    #nieuwsbrief .nieuwsbrieftekst {
        padding: 0 15px;
    }

    .intro-tekst {
        padding: 0 15px;
    }

    .loc-uren {
        text-align: left;
    }

    .showroom img {
        margin-bottom: 18px;
    }

    .location img {
        margin-top: 18px;
    }

    footer section {
        height: 185px;
    }

    footer .alignright {
        text-align: left;
    }

    .hover-image {
        margin-top: 10px;
    }
}

@media screen and (max-width:767px) {

    ul.nav li:nth-child(1) {
        border-bottom: none;
    }

    ul.nav li:nth-child(2) {
        border-bottom: none;
    }

    ul.nav li:nth-child(3) {
        border-bottom: none;
    }

    ul.nav li:nth-child(4) {
        border-bottom: none;
    }

    .nieuwsbrieftekst {
        margin-bottom: 15px;
        margin-top: 0;
    }

    #nieuwsbrief .nieuwsbriefcol.bedrag {
        padding-top: 0;
    }

    #nieuwsbrief .nieuwsbriefcol {
        padding: 20px;
    }

        #nieuwsbrief .nieuwsbriefcol form {
            padding: 0 18px;
        }

    #nieuwsbrief .form-control {
        width: 100%;
    }

    #nieuwsbrief .btn {
        width: 100%;
        text-align: center;
        margin-left: 0;
    }


    #header .nav li .line {
        display: none;
    }

    footer section {
        height: initial;
    }

    .garantie-tekst, .verantwoordelijkheid-tekst, #test-certificaat figure {
        padding: 0 18px;
    }

    quoteauthor {
        margin-bottom: 1em;
    }


    #garanties ul li {
        float: none;
        width: auto;
    }

        #garanties ul li:first-child {
            width: auto;
        }
}

@media screen {

    .extra-head-on-print {
        display: none;
    }

    .timestamp-on-print {
        display: none;
    }

    #footer-on-print {
        display: none;
    }
}

@media print {
    #productTool {
        width: 100% !important;
    }

    #productToolWrapper {
        width: 100% !important;
    }

    .extra-head-on-print {
        position: absolute;
        right: 0;
        top: 0;
        height: 80px;
    }

    #calculatorWrapper .timestamp-on-print {
        float: right;
    }

    #btnBereken, #btnBestel, #col_prefs, .glyphicon-print, #footer-about, #footer-help, #footer-payment {
        display: none;
    }

    #footer-address img {
        width: 200px;
    }



    .extras-info {
        display: none;
    }

    .logo img {
        width: 700px;
    }

    a[href]:after {
        content: none !important;
    }

    #footer-on-screen {
        display: none;
    }

    #footer-on-print {
        margin-top: 70px;
    }

        #footer-on-print table {
            font-size: 11pt;
        }

            #footer-on-print table td:first-child {
                width: 33px !important;
            }

            #footer-on-print table td {
                width: 270px;
            }

        #footer-on-print p {
            margin-left: 60px;
            display: inline-block;
        }

        #footer-on-print ul {
            display: inline-block;
        }

        #footer-on-print .head {
            width: 50px;
        }

        #footer-on-print .logo-footer {
            margin-left: 15px;
            width: 300px;
        }

    #baseline-divs {
        display: none;
    }
}

.redBox {
    border: 2px solid #c5000f !important;
}

#editForm .form-control {
    height: 30px;
    padding: 3px;
}

    #editForm .form-control:disabled {
        background-color: #fff;
        cursor: default;
    }

#editForm .form-group {
    margin-bottom: 10px;
}

#editForm label {
    color: #000;
    font-size: 10pt;
}

#editForm .sublbl {
    font-size: 8pt;
    display: block;
    color: #2e3a88;
}

#editForm .field-validation-error {
    font-size: 9pt;
    color: #c5000f;
    display: block;
}

#editForm .form-control {
    width: 93%;
    display: inline-block;
    padding: 3px;
    height: 30px;
    font-size: 10pt;
}

#editForm .title {
    color: #c5000f;
    font-size: 12pt;
    display: block;
    margin: 10px 0 5px 0px;
    font-weight: bold;
}

    #editForm .title .sub {
        font-size: 10pt;
        color: #e55661;
    }




#authPopup {
    display: none;
    width: 450px;
    position: absolute;
    right: 50px;
    background-color: #fff;
    z-index: 10020;
    text-align: left;
    overflow: hidden;
    padding: 5px 20px 20px 20px;
}

    #authPopup .form-group {
        margin: 3px 0;
        padding: 0;
    }

    #authPopup label {
        color: #000;
        font-size: 10pt;
    }

    #authPopup .sublbl {
        font-size: 8pt;
        display: block;
        color: #2e3a88;
    }

    #authPopup .field-validation-error {
        font-size: 9pt;
        color: #c5000f;
        display: block;
    }

    #authPopup .form-control {
        width: 93%;
        display: inline-block;
        padding: 3px;
        height: 30px;
        font-size: 10pt;
    }

    #authPopup input {
        padding: 2px 7px 2px 7px;
    }

        #authPopup input[type="submit"] {
            margin-top: 10px;
        }

    #authPopup .title {
        color: #c5000f;
        font-size: 12pt;
        display: block;
        margin: 10px 0 5px 0px;
        font-weight: bold;
    }

        #authPopup .title .sub {
            font-size: 10pt;
            color: #e55661;
        }

.btn-inline {
    display: inline;
}

#authPopup .btn-registernow {
    color: #fff !important;
    padding: 7px;
}

#authPopup .control-label {
    padding: 0;
}

#authPopup hr {
    width: 97%;
    border-top: 2px solid #eee;
    margin: 15px 0 7px 0;
}


.wideFormTable .title {
    color: #c5000f;
    font-size: 12pt;
    display: block;
    margin-bottom: 17px;
}

.wideFormTable label {
    font-size: 9pt;
    color: #000;
}

.wideFormTable .form-control {
    margin: 4px;
    height: 27px;
    padding: 3px;
    font-size: 10pt;
}

#divCheckoutOptions .form-control {
    margin: 4px;
    height: 27px;
    padding: 3px;
    font-size: 10pt;
}


.codesUl {
    margin: 0;
    padding: 0;
}

    .codesUl li {
        display: inline-block;
    }

        .codesUl li input {
            width: 485px;
        }

.validation-summary-errors {
    font-size: 9pt;
}

    .validation-summary-errors li {
        display: block !important;
        color: #c5000f !important;
    }

#loginStatus {
    padding: 4px 0 6px;
}

#loggedInLink {
    font-size: 10pt;
    font-weight: bold;
    border: 1px solid #c5000f;
    padding: 1px 5px 1px 5px;
    cursor: pointer;
    text-transform: none;
    background-image: none;
    overflow: hidden;
    max-width: 215px;
}

    #loggedInLink:hover {
        background-image: linear-gradient(to bottom, #fff 0, #eee 100%);
    }

.square-button {
    height: 54px;
    padding: 11px 23px;
    text-align: center;
    border-radius: 2px;
    font-size: 16pt;
    cursor: pointer;
    box-shadow: 0 1px 1px rgba(255, 255, 255, 0.37) inset, 1px 0 1px rgba(255, 255, 255, 0.07) inset, 0 1px 0 rgba(0, 0, 0, 0.36), 0 -2px 12px rgba(0, 0, 0, 0.08) inset;
}

.square-button-red {
    background: #c5000f;
    color: #FFFFFF;
    border: 1px solid #d40000;
}

.square-button-blue {
    background: #2e3a88;
    color: #FFFFFF;
    border: 1px solid #000;
}

.square-button-smaller {
    font-size: 13pt !important;
}

#loggedInLink .glyphicon {
    color: #c5000f;
    position: relative;
    top: 4px;
}

#userDropDownMenu {
    left: 240px;
    top: 40px;
}

    #userDropDownMenu li {
        display: block;
        margin: 0;
        padding: 0;
    }

.darkblue-lbl {
    color: #2e3a88;
}


.wideFormTable select {
    padding: 0;
}

#tbRegBirthday {
    width: 115px;
    display: inline-block;
}

.tbPhoneNumberCountryCode {
    width: 95px !important;
    display: inline;
    padding-left: 45px !important;
}

.tbPhoneNumber {
    width: 252px !important;
    display: inline;
}

ul.country-list li {
    display: block;
}


#vatCC {
    width: 55px !important;
}

#vatNr {
    width: 296px !important;
    height: 27px;
    display: inline;
    padding: 5px;
    margin-left: 0 !important;
    position: relative;
    right: 9px;
    margin-right: 0;
}

.vatIcon {
    position: relative;
    right: 2px;
    bottom: 2px;
    width: 11px;
    display: none;
}


#ddlCountryCodes {
    width: 120px;
    display: inline;
}

.required {
    color: #c5000f;
}

#btnCloseRegisterPane {
    width: 24px;
    float: right;
}


.hover-image {
    margin-top: 15px;
    margin-bottom: 5px;
}


.hover-image-border {
    outline: 2px solid #c4000e;
}


.iconContainer .subtext {
    width: 100%;
    display: block;
    text-align: center;
    font-size: 16px;
}

    .iconContainer .subtext p {
        margin: 0;
    }

        .iconContainer .subtext p .indexlbl {
            margin: 0;
            color: #c5000f;
            font-size: 13pt;
        }

    .iconContainer .subtext ul {
        margin: 0;
        padding-left: 50px;
        text-align: left;
    }

.iconContainer span.counter {
    color: #c5000f;
}

.iconContainer br {
    display: none;
}


/**************************************
 * WOUTER FIXES
 * ************************************/

.row {
    margin-left: 0px;
    margin-right: 0px;
}

#header .logo {
    text-align: left;
}

#header .row.redBox {
    display: none;
}

#header .toolmenu li a {
    color: #2e3a88;
    text-decoration: none;
    -webkit-transition: ease 0.3s;
    transition: ease 0.3s;
}

    #header .toolmenu li a:hover {
        color: #c8c8c8;
        text-decoration: none;
        -webkit-transition: ease 0.3s;
        transition: ease 0.3s;
    }

#header .topmenu #loginStatus a {
    color: #c5000f;
    text-decoration: none;
    -webkit-transition: ease 0.3s;
    transition: ease 0.3s;
}

    #header .topmenu #loginStatus a:hover {
        color: #c8c8c8;
        text-decoration: none;
    }

#header .topmenu li:last-child a {
    color: #c8c8c8;
    text-decoration: none;
    -webkit-transition: ease 0.3s;
    transition: ease 0.3s;
}

    #header .topmenu li:last-child a:hover {
        color: #c5000f;
        text-decoration: none;
    }

    #header .topmenu li:last-child a.selected {
        color: #c5000f;
    }

#header .container {
    padding: 0;
    height: auto;
}

.bestelOnlineIcons {
    text-align: center;
    background-color: #f3f3f3;
    padding-bottom: 20px;
}

    .bestelOnlineIcons .iconContainer {
        display: inline-block;
        float: none;
        text-align: left;
        margin-right: -4px;
        vertical-align: top;
        /*margin-bottom:30px;*/
    }

        .bestelOnlineIcons .iconContainer img {
            width: 105px;
        }



#test-certificaat figure img {
    width: 100%;
}

.pay-logo {
    padding: 0px;
}

#nieuwsbrief .btn {
    padding-left: 10px;
    padding-right: 10px;
    -webkit-transition: ease 0.3s;
    transition: ease 0.3s;
}

    #nieuwsbrief .btn:hover {
        color: #2e3a88;
        background: #FFFFFF;
        border-radius: 0;
    }

.soorten_product .productblock {
    border: 1px solid #c4000e;
    margin-bottom: 20px;
    padding: 0px;
}

.soorten_product h3 {
    font-size: 17pt;
    font-weight: bold;
}

#diasecsup-sup-classic, #fotopapier {
    padding-left: 0px;
    padding-right: 0px;
}

section.anchor {
    padding-top: 130px;
    margin-top: -130px;
    /*display: inline-block;*/
}



/* ============= TOP NAV ============= */

.toggle-top-menu .fa {
    color: #2e3a88;
}

.tooltopmenu .navbar-brand {
    display: none;
    position: relative;
    top: 8px;
}

.tooltopmenu .navbar-toggle.toggle-top-menu.collapsed {
    -ms-transform: rotate(0deg); /* IE 9 */
    -webkit-transform: rotate(0deg); /* Safari */
    transform: rotate(0deg);
}

.tooltopmenu .navbar-toggle {
    -ms-transform: rotate(180deg); /* IE 9 */
    -webkit-transform: rotate(180deg); /* Safari */
    transform: rotate(180deg);
    transition: All 0.3s ease;
    -webkit-transition: All 0.3s ease;
    -moz-transition: All 0.3s ease;
    -o-transition: All 0.3s ease;
}

@media screen and (max-width: 992px) {
    .topmenu li a {
        margin-top: 11px;
    }

    .iconContainer {
        width: 33.33333%;
    }

    .stickypadding {
        width: 50%;
        text-align: center;
        height: 50px;
    }

    .prijsberekening {
        width: 50%;
        text-align: center;
    }

    .stickypaddingbutton {
        width: 100%;
        text-align: center;
    }
}


@media screen and (max-width: 768px) {
    .tooltopmenu .navbar-brand {
        display: block;
    }

    .toolmenu li {
        margin-bottom: 8px;
        display: block;
        width: 100%;
        text-align: center;
    }
}

@media screen and (max-width: 450px) {

    .iconContainer {
        width: 50%;
    }

    #headline h2 {
        font-size: 25px;
    }

    #test-certificaat figure {
        padding: 0;
    }
}



/* ============= MEDIA QUERIES ============= */

@media screen and (max-width: 986px) {
    .bestelOnlineIcons .iconContainer {
        height: auto;
    }

    .topmenu {
        text-align: center;
    }

        .topmenu ul li {
            display: block !important;
        }

    /*.nav > li > a {
        padding: 20px 0 10px;
        position: initial;
    }*/

    .intro-tekst {
        padding-top: 15px;
    }

    .soorten_product .productblock .product_text h3 {
        color: #2e3a88;
        font-size: 24px;
        margin: 20px 0 30px 0;
    }

    .soorten_product .productblock .product_text.col-lg-3.col-md-3 p {
        margin: 0 0 20px 20px;
        text-align: left;
    }
}

@media screen and (max-width: 600px) {
    .toolmenu li {
        display: block;
        width: 100%;
        text-align: center;
    }
}

/* ============ X =========== */

/* .navbar-toggle {
    border: none;
    background: transparent !important;
}

    .navbar-toggle:hover {
        background: transparent !important;
    }

    .navbar-toggle .icon-bar {
        width: 22px;
        transition: all 0.2s;
        background-color: black;
    }
  

    .navbar-toggle .middle-bar {
        opacity: 0;
    }

    .navbar-toggle .bottom-bar {
        transform: rotate(-45deg);
        transform-origin: 10% 90%;
    }

    
    .navbar-toggle.collapsed .middle-bar {
        opacity: 1;
    }

    .navbar-toggle.collapsed .bottom-bar {
        transform: rotate(0);
    } */

.btnEditUserCollapse {
    color: #c5000f;
    border: 1px solid #c5000f;
    border-radius: 4px;
    margin: 4px 2px 5px 2px;
    padding: 1px 2px 1px 2px;
    cursor: pointer;
}


#btnBereken, #btnBestel {
    display: inline-block;
    width: 196px;
    /*padding-left: 12px;
    padding-right: 12px;*/
    text-align: center;
    font-size: 10pt;
}

#languageSelector {
    text-transform: uppercase;
    font-weight: bold;
    border: 1px solid silver;
    /*border-radius: 4px;*/
    color: black;
}

.container, .container .col-lg-12, .col-md-12, article, .col-lg-6 {
    padding-left: 0;
    padding-right: 0;
}

    .container .col-lg-12 .row img {
        width: 100%;
    }

.top-wide {
    background-color: #f3f3f3;
    height: 35px;
    overflow: hidden;
}

.logobuttonbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px 0 16px 0;
}

.buttons-right {
    text-align: right;
    margin-right: 0;
    width: 100%;
}

#login {
    margin: 10px;
}

.user {
    position: relative;
    top: 10px;
}

.umb-grid h2 {
    text-align: center;
    font-size: 22px;
    margin-bottom: 20px;
    margin-top: 40px;
    font-family: 'Open Sans';
    /*color: #c5000f;*/
    color: #636363;
}

    .umb-grid h2.no-margin {
        text-align: center;
        font-size: 22px;
        margin-bottom: 20px;
        margin-top: 0px;
        font-family: 'Open Sans';
        /*color: #c5000f;*/
        color: #636363;
    }

.umb-grid img {
    margin-bottom: 15px;
}

.umb-grid p {
    text-align: justify;
}

.image-block {
    width: 60%;
    float: left;
}

.text-block {
    width: 40%;
    float: left;
    position: relative;
    top: 60px;
    left: 20px;
}

    .text-block ul {
        padding: 25px;
    }

.thinline {
    border-bottom: 1px silver dotted;
    margin-top: 35px;
}

.umb-grid a {
    color: red;
    font-weight: bolder;
    text-decoration: underline;
}

@media (min-width: 1280px) {

    .dropdown-menu {
        /*position: static;*/
        float: none;
        width: auto;
        margin-top: -3px !important;
        border-top: 1px silver solid !important;
        border-right: 1px silver solid !important;
        border-left: 1px silver solid !important;
        border-bottom: 1px silver solid !important;
        background-color: white;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
}

.mega-dropdown {
    position: static !important;
}

.mega-dropdown-menu {
    padding: 20px 0px;
    box-shadow: none;
    -webkit-box-shadow: none;
    background-color: white;
    z-index: 200001;
    font-size: 10pt;
}

.col-md-3.activenav figure {
    border: 2px #c5000f solid;
}

#header .col-md-3 figure img {
    width: 100%;
    height: 100%;
}

#video-controls {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 5px;
    opacity: 0;
}

.item:hover #video-controls {
    opacity: 1;
}

#video-container button {
    background: rgba(0,0,0,.5);
    border: 0;
    color: #EEE;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
}

    #video-container button:hover {
        cursor: pointer;
    }

.vijfkolommen h1 {
    position: relative;
    top: -15px;
    font-size: 28px;
    color: #c5000f;
}

.carousel-control.left .glyphicon {
    left: 0;
    margin-left: 0;
}

.carousel-control.right .glyphicon {
    right: 0;
    margin-right: 0;
}

@media screen and (max-width: 767px) {
    #authentic .inner-left, #authentic .inner-right, #authentic h2 {
        padding-left: 20px;
    }

    #authentic ul {
        margin-left: -20px;
    }
}

.sizeHeader1 h2 {
    font-size: 2em;
    color: black;
    margin: 4px;
}

.popover__wrapper {
    position: relative;
    display: inline-block;
}

.popover__content {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    left: -63px;
    top: 50px;
    transform: translate(0,10px);
    background-color: cornsilk;
    padding: 1.5rem;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    width: auto;
}

    .popover__content:before {
        position: absolute;
        z-index: -1;
        content: '';
        right: calc(50% - 10px);
        top: -8px;
        border-style: solid;
        border-width: 0 10px 10px 10px;
        border-color: transparent transparent cornsilk transparent;
        transition-duration: 0.3s;
        transition-property: transform;
    }

.popover__wrapper:hover .popover__content {
    z-index: 10;
    opacity: 1;
    visibility: visible;
    transform: translate(0,-20px);
    transition: all 0.5s cubic-bezier(0.75, -0.02, 0.2, 0.97);
}

.popover__wrapper_footer {
    position: relative;
    margin-top: 5px;
    display: inline-block;
}

.popover__content_footer {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    left: 68px;
    top: -50px;
    transform: translate(0,10px);
    background-color: cornsilk;
    padding: 1.5rem;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    width: auto;
}

    .popover__content_footer:after {
        position: absolute;
        top: 70px;
        left: -8px;
        content: '';
        width: 0;
        height: 0;
        border-right: solid 10px cornsilk;
        border-bottom: solid 10px transparent;
        border-top: solid 10px transparent;
    }

.popover__wrapper_footer:hover .popover__content_footer {
    z-index: 10;
    opacity: 1;
    visibility: visible;
    transform: translate(0,-20px);
    transition: all 0.5s cubic-bezier(0.75, -0.02, 0.2, 0.97);
}

.popover__message {
    text-align: center;
}

.push a {
    border-bottom: none;
}

.popover__content .loc-adres {
    color: black;
}

/*FAQ*/
.faq {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
}

    .faq a {
        cursor: pointer;
    }

    .faq h4 {
        margin: 25px 0 12px 0;
        font-weight: bold;
    }

        .faq h4:first-child {
            margin-top: 0;
        }

.activeFaqCat {
    background-color: #c5000f;
}

    .activeFaqCat a {
        color: #fff;
    }

.faqCatTitle {
    color: #c5000f;
    text-transform: uppercase;
    font-size: 19px;
}



.faq ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.faqSummary {
    width: 25%;
    margin-right: 20px;
}

    .faqSummary > ul > li {
        padding: 3px;
    }

.faqAll {
    width: 75%;
}

    .faqAll > div {
        margin-bottom: 15px;
    }

.faqQuestions .ulFaqItems {
    list-style: none;
}

.faqAnswers {
    margin-top: 50px;
}

header {
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.mega-dropdown h4 {
    font-size: 10pt;
    font-weight: bold;
}

/*.mega-dropdown a p {
    color: #2e3a88 !important;
    font-weight: 100;
}*/

.carousel-caption {
    text-align: center;
    text-shadow: none;
    width: 60% !important;
}

#header .mega-dropdown-menu .col-md-3 {
    width: 204px !important;
    height: 204px !important;
}

@media (min-width: 768px) and (max-width: 991px) {

    .carousel-inner .item p {
        display: none !important;
    }
}

@media (max-width:767px) {
    .carousel-inner .item p, .carousel-inner .item h3 {
        display: none !important;
    }

    .carousel-caption img {
        display: none !important;
    }

    .promo-bar {
        display: none;
    }

    .top-wide-promo {
        display: none;
    }

    .affix-top {
        position: relative;
        top: -35px;
    }
}

@media (min-width:768px) {
    .promo-bar {
        background-color: #c5000f;
        height: 35px;
        color: white;
        text-align: center;
        display: block;
        float: none;
    }

        .promo-bar p {
            top: 3px;
            position: relative;
        }

    .top-wide-promo {
        background-color: #c5000f;
        height: 35px;
        overflow: hidden;
    }

    .affix-top {
        position: relative;
        top: -69px;
    }
}

.modal-lg {
    width: 1200px;
}

.anchor::before {
    display: block;
    content: " ";
    margin-top: -180px;
    height: 180px;
    visibility: hidden;
}

a.modallink {
    color: red;
    font-weight: bolder;
    text-decoration: underline;
}

    a.modallink:hover {
        cursor: pointer;
    }

.navbar-brand {
    float: left;
    padding: 0;
    font-size: 20px;
    line-height: 22px;
    height: auto;
    width: 80%;
    margin-bottom: 5px;
}

@media only screen and (max-width: 767px) {
    .nav-item {
        height: 35px;
        overflow-y: hidden;
    }

        .nav-item figure, .nav-item .text-slide {
            display: none;
        }
}

@media screen and (min-width:768px) and (max-width:1279px) {
    #header .nav li.dropdown-full {
        display: block !important;
        float: none !important;
        padding: 0px 5px !important;
        margin: auto !important;
    }

    .nav-item {
        height: auto !important;
        margin-bottom: 10px;
    }

        .nav-item .text-slide {
            display: none;
        }

    .col-lg-5ths.col-md-5ths {
        width: 20%;
    }

    .col-lg-8ths.col-md-8ths {
        width: 12.5%;
    }

    .navbar .navbar-header {
        z-index: 1;
        position: relative;
        float: right;
    }

    .navbar-collapse.collapse:not(.in) {
        display: none !important;
    }

    .collapse .in {
        display: block !important;
    }

    .navbar-toggle {
        display: block !important;
        padding: 0 !important;
    }

    .navbar .navbar-nav.dropdown-onhover > li:hover > .dropdown-grid-wrapper > .dropdown-menu, .navbar .navbar-nav.dropdown-onhover > li:hover > .dropdown-menu, .navbar li.dropdown-onhover:hover > .dropdown-grid-wrapper > .dropdown-menu, .navbar li.dropdown-onhover:hover > .dropdown-menu, .navbar.dropdown-onhover .navbar-nav > li:hover > .dropdown-grid-wrapper > .dropdown-menu, .navbar.dropdown-onhover .navbar-nav > li:hover > .dropdown-menu {
        display: inline-block !important;
        visibility: visible !important;
    }

    .navbar .navbar-nav > li.dropdown-full > .dropdown-menu, .navbar .navbar-nav > li.dropdown-wide > .dropdown-menu, .navbar.navbar-fixed-bottom .navbar-nav > li.dropdown-wide > .dropdown-menu, .navbar.navbar-fixed-top .navbar-nav > li.dropdown-wide > .dropdown-menu, .navbar.navbar-static-top .navbar-nav > li.dropdown-wide > .dropdown-menu {
        margin-left: 0 !important;
        margin-right: 0 !important;
        width: 100% !important;
    }

    .navbar:not(.caret-bootstrap) .navbar-nav:not(.caret-bootstrap) li:not(.caret-bootstrap) > a.dropdown-toggle:not(.caret-bootstrap) > span:not(.caret-bootstrap).caret {
        float: right !important;
    }

    .nav.navbar-nav.navbar-left, .dropdown-full.no-shadow.no-border-radius, .dropdown-toggle {
        width: 100% !important;
    }

    .navbar .dropdown-menu {
        position: relative !important;
    }

    .dropdown-menu {
        /*position: static;*/
        float: none;
        width: auto;
        margin-top: -3px !important;
        border-top: none !important;
        border-right: 1px silver solid !important;
        border-left: 1px silver solid !important;
        border-bottom: 1px siver solid !important;
        background-color: white;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
}

.col-lg-7ths, .col-md-7ths {
    width: 14.28%;
}

.dropdown-full.no-shadow.no-border-radius.current > a {
    border-bottom: 1px solid red;
    font-weight: bold;
    color: red;
}

img#__mcenew {
    margin-top:11px;
}

.ptb-2 {
    padding-top:2px;
    padding-bottom: 2px;
}

.ptb-4 {
    padding-top: 4px;
    padding-bottom: 4px;
}

.ptb-6 {
    padding-top: 6px;
    padding-bottom: 6px;
}

.ptb-8 {
    padding-top: 8px;
    padding-bottom: 8px;
}

.ptb-10 {
    padding-top: 10px;
    padding-bottom: 10px;
}

.nav-item a:hover img {
    border: 1px solid #d4252b;
}

.griditem a:hover img {
    border: 1px solid #d4252b;
    border-radius:4px;
}

.nav-grid h2 {
    text-align: center;
    font-size: 23px;
    margin-bottom: 20px;
    font-family: 'Open Sans';
    /*color: #352829;*/
    color: #d4252b;
}
