﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage<Grid>
@if (Model != null && Model.Sections != null)
{
    var oneColumn = Model.Sections.Count == 1;
    <div class="umb-grid">
        @if (oneColumn)
        {
            foreach (var section in Model.Sections)
            {
                <div class="grid-section">
                    @foreach (var row in section.Rows)
                    {
                        @RenderRow(row, true);
                    }
                </div>
            }
        }
        else
        {
            <div class="container">
                <div class="row clearfix">
                    @foreach (var section in Model.Sections)
                    {
                        <div class="grid-section">
                            <div class="col-md-@(section.Grid) column">
                                @foreach (var row in section.Rows)
                                {
                                    @RenderRow(row, false);
                                }
                            </div>
                        </div>
                    }
                </div>
            </div>
        }
    </div>
}

@helper RenderRow(Grid.Row row, bool singleColumn)
{
    using (Html.BeginGridTag(row))
    {
        using (Html.BeginTag("div", singleColumn, new { @class = "container" }))
        {
<div class="row clearfix">
    @{ var naam = string.Empty;
        if (row.Name.Equals("rij van vijf"))
        {
            naam = "rij van vijf";
        }
        else if (row.Name.Equals("rij van acht"))
        {
            naam = "rij van acht";
        }
        else if (row.Name.Equals("rij van zeven"))
        {
        naam = "rij van zeven";
        }
    }

    @foreach (var area in row.Areas)
    {
        var klasse = string.Empty;
        if (naam == "rij van vijf")
        {
            klasse = "col-lg-5ths col-md-5ths col-sm-12 col-xs-12";
        }
        else if (naam == "rij van acht")
        {
            klasse = "col-lg-8ths col-md-8ths col-sm-12 col-xs-12";
        }
         else if (naam == "rij van zeven")
        {
            klasse = "col-lg-7ths col-md-7ths col-sm-12 col-xs-12";
        }
        else
        {
            klasse = "col-md-" + area.Grid;
        }
        <div class="@klasse column">
            @using (Html.BeginGridTag(area))
            {
                foreach (var control in area.Controls)
                {
                    Html.RenderGridControl(control);
                }
            }
        </div>
    }
</div>
        }
    }
}