﻿@inherits UmbracoViewPage<dynamic>
@using Newtonsoft.Json.Linq

@{
    var uHelper = new UmbracoHelper(UmbracoContext.Current);
    var sectionIndex = 0;
}

@if (Model != null && Model.sections != null)
{
    var oneColumn = ((System.Collections.ICollection)Model.sections).Count == 1;

    if (oneColumn)
    {
        foreach (var section in Model.sections)
        {
            foreach (var row in section.rows)
            {
                if (row.name == "video box")
                {
                    <article id="home-intro">
                        <section class="container">
                            <div class="col-lg-12">
                                <div class="row">
                                    @*<div class="col-lg-6 col-md-6 col-sm-6 intro-tekst">*@
                                    @Html.Raw(RenderArea(row.areas[0]))
                                    @*</div>*@
                                    <div class="col-lg-6 col-md-6 col-sm-6 video-container">
                                        <div class="vid">
                                            @Html.Raw(RenderArea(row.areas[1]))
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </article>
                }
                else if (row.name == "4 text columns")
                {
                    <article>
                        <section class="container">
                            <div class="row">
                                <div class="col-lg-3 col-md-3 col-sm-6 col-sm-12">
                                    <span>1</span>
                                    @Html.Raw(RenderArea(row.areas[0]))
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-6 col-sm-12">
                                    <span>2</span>
                                    @Html.Raw(RenderArea(row.areas[1]))
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-6 col-sm-12">
                                    <span>3</span>
                                    @Html.Raw(RenderArea(row.areas[2]))
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-6 col-sm-12">
                                    <span>4</span>
                                    @Html.Raw(RenderArea(row.areas[3]))
                                </div>
                            </div>
                        </section>
                    </article>
                }
                else if (row.name == "product overview (3 per row)")
                {
                    @*@RenderWholeProductDetail(row, uHelper, sectionIndex)*@
                    sectionIndex = sectionIndex + 1;
                }
                else if (row.name == "3 text columns")
                {
                    <article id="wie">
                        <section class="container">
                            <div class="row">
                                <section class="col-lg-4 col-md-4 col-sm-12">
                                    @Html.Raw(RenderArea(row.areas[0]))
                                    @*<div class="imageViewer">Bekijk > </div>*@
                                </section>
                                <section class="col-lg-4 col-md-4 col-sm-12">
                                    @Html.Raw(RenderArea(row.areas[1]))
                                    @*<div class="imageViewer">Bekijk > </div>*@
                                </section>
                                <section class="col-lg-4 col-md-4 col-sm-12">
                                    @Html.Raw(RenderArea(row.areas[2]))
                                    @*<div class="imageViewer">Bekijk > </div>*@
                                </section>
                            </div>
                        </section>
                    </article>
                }
                else if (row.name == "headline")
                {
                    <article id="headline">
                        <section class="container">
                            @Html.Raw(RenderArea(row.areas[0]))
                        </section>
                    </article>
                }
                else if (row.name == "list")
                {
                    <article id="garanties">
                        <section class="container">
                            @Html.Raw(RenderArea(row.areas[0]))
                        </section>
                    </article>
                }
                else if (row.name == "country list")
                {
                    <article id="landen">
                        <section class="container">
                            @Html.Raw(RenderArea(row.areas[0]))
                        </section>
                    </article>
                }
                else if (row.name == "product line")
                {
                    <article id="productLine">
                        <section class="container">
                            @Html.Raw(RenderArea(row.areas[0]))
                        </section>
                    </article>
                }
                else if (row.name == "2 column image box")
                {
                    <article id="test-certificaat">
                        <section class="container">
                            <section id="testprint" class="col-lg-6 col-md-6">
                                <section class="padding-test">
                                    @Html.Raw(RenderArea(row.areas[0]))
                                </section>
                            </section>
                            <section id="handtekening" class="col-lg-6 col-md-6">
                                <section class="padding-cert">
                                    @Html.Raw(RenderArea(row.areas[1]))
                                </section>
                            </section>
                        </section>
                    </article>
                }
                else if (row.name == "3 column image box")
                {
                    <article class="threecolumns">
                        <section class="container">
                            <section class="col col-lg-4 col-md-4">
                                @Html.Raw(RenderArea(row.areas[0]))
                            </section>
                            <section class="col col-lg-4 col-md-4">
                                @Html.Raw(RenderArea(row.areas[1]))
                            </section>
                            <section class="col col-lg-4 col-md-4">
                                @Html.Raw(RenderArea(row.areas[2]))
                            </section>
                        </section>
                    </article>
                }
                else if (row.name == "full width image")
                {
                    <article>
                        <section class="container">
                            @Html.Raw(RenderArea(row.areas[0]))
                        </section>
                    </article>
                }
                else if (row.name == "image row")
                {
                    <article>
                        <section class="container">
                            <section class="col-lg-12 col-md-12">
                                <div class="row" style="border: 2px solid #c91d28;">
                                    @Html.Raw(RenderArea(row.areas[0]))
                                </div>
                            </section>
                        </section>
                    </article>
                }
                else if (row.name == "1 column text")
                {
                    <article>
                        <section class="container">
                            @Html.Raw(RenderArea(row.areas[0]))
                        </section>
                    </article>
                }
                else if (row.name == "product detail (whole row)")
                {
                    @Html.Raw(RenderArea(row.areas[0]))
                }
                else if (row.name == "location box")
                {
                    <article id="location">
                        <section class="container">
                            <div class="col-lg-12">
                                <div class="row" style="background: #ebebeb;">
                                    @Html.Raw(RenderArea(row.areas[0]))
                                </div>
                            </div>

                        </section>
                    </article>
                }
                else if (row.name == "sample box")
                {
                    <article id="samplebox">
                        <section class="container">
                            <div class="row">
                                <div class="col-md-12">
                                    @Html.Raw(RenderArea(row.areas[0]))
                                </div>
                            </div>
                        </section>
                    </article>
                }
                else if (row.name == "customer quotes")
                {
                    @Html.Raw(RenderArea(row.areas[0]))
                }

                else if (row.name == "garantie box")
                {
                    @Html.Raw(RenderArea(row.areas[0]))
                }
                else if (row.name == "form")
                {
                    @Html.Raw(RenderArea(row.areas[0]))
                }
                else if (row.name == "6 icon columns")
                {
                    @RenderIconDetail(row, uHelper, 2)
                    sectionIndex = sectionIndex + 1;
                }
            }
        }
    }
    else
    {
        foreach (var s in Model.sections)
        {
            foreach (var row in s.rows)
            {
                @RenderRow(row, false);
            }
        }
    }
}

@helper RenderIconDetail(dynamic row, UmbracoHelper uHelper, int bootstrapMd)
{
    <section id="bestelOnline" class="container hover-section jumptarget">
        <section class="bestelOnlineIcons">
            @foreach (var area in row.areas)
            {
                foreach (var control in area.controls)
                {
                    if (control.editor.name != null && control.editor.name.Value != null && control.editor.name.Value == "Icon detail")
                    {
                        var item = control.value.value;
                        <div class="col-lg-@(bootstrapMd) col-md-@(bootstrapMd) iconContainer">
                            <img src="@(uHelper.TypedMedia(item.icon.Value).Url)" class="img-responsive icon" alt="@(item.description.Value)" />

                            <span class="subtext">@Html.Raw(item.description.Value)</span>
                        </div>
                    }
                }
            }
        </section>
    </section>
}

@helper RenderRow(dynamic row, bool singleColumn)
{
    foreach (var area in row.areas)
    {
        foreach (var control in area.controls)
        {
            if (control != null && control.editor != null && control.editor.view != null)
            {
                <text>@Html.Partial("grid/editors/base", (object)control)</text>
            }
        }
    }
}

@helper RenderArea(dynamic area)
{
    foreach (var control in area.controls)
    {
        if (control != null && control.editor != null && control.editor.view != null)
        {
            <text>@Html.Partial("grid/editors/base", (object)control)</text>
        }
    }
}

@functions {
    public static MvcHtmlString RenderElementAttributes(dynamic contentItem)
    {
        var attrs = new List<string>();
        JObject cfg = contentItem.config;

        if (cfg != null)
        {
            foreach (JProperty property in cfg.Properties())
            {
                attrs.Add(property.Name + "=\"" + property.Value.ToString() + "\"");
            }
        }

        JObject style = contentItem.styles;

        if (style != null)
        {
            var cssVals = new List<string>();

            foreach (JProperty property in style.Properties())
            {
                cssVals.Add(property.Name + ":" + property.Value.ToString() + ";");
            }

            if (cssVals.Any())
            {
                attrs.Add("style=\"" + string.Join(" ", cssVals) + "\"");
            }
        }

        return new MvcHtmlString(string.Join(" ", attrs));
    }
}