﻿@inherits UmbracoViewPage<dynamic>
@using Newtonsoft.Json.Linq
@using SEOChecker.Core.Extensions
@using Umbraco.Core.Logging
@{
    var uHelper = new UmbracoHelper(UmbracoContext.Current);
    var sectionIndex = 0;
}

@if (Model != null && Model.sections != null)
{
    var oneColumn = ((System.Collections.ICollection)Model.sections).Count == 1;

    if (oneColumn)
    {
        foreach (var section in Model.sections)
        {
            foreach (var row in section.rows)
            {
                if (row.name != "product details (from html template)" && row.name != "product details (2 per row)" && row.name != "product details (3 per row)" && row.name != "product details (4 per row)" && row.name != "product detail (5 per row)")
                {
                    continue;
                }

                try
                {
                    var firstControl = row.areas[0].controls[0].value;
                    string menuTitle = string.Empty;

                    if(firstControl.Value is string)
                    {
                        menuTitle = firstControl.Value;
                    } else if (firstControl.macroParamsDictionary != null)
                    {
                        menuTitle = firstControl.macroParamsDictionary.menutitle.Value;
                    }
                    if (!string.IsNullOrWhiteSpace(menuTitle))
                    {
                        string x = Convert.ToString(menuTitle);
                        <li>
                            <a href="#@(x.ToUrlSegment())">@Html.Raw(menuTitle)</a>
                            <div class="line"></div>
                        </li>
                        sectionIndex = sectionIndex + 1;
                    }
                }
                catch (Exception exception)
                {
                    LogHelper.Error<UmbracoTemplatePage>("Error in ProductGridNavigation", exception);
                }
            }
        }
    }
    else {
        foreach (var s in Model.sections)
        {
            foreach (var row in s.rows)
            {
                @RenderRow(row, false);
            }
        }
    }
}

@helper RenderRow(dynamic row, bool singleColumn)
{
    foreach (var area in row.areas)
    {
        foreach (var control in area.controls)
        {
            if (control == null || control.editor == null || control.editor.view == null)
            {
                continue;
            }
            @Html.Partial("grid/editors/base", (object)control)
        }
    }
}

@helper RenderArea(dynamic area)
{
    foreach (var control in area.controls)
    {
        if (control == null || control.editor == null || control.editor.view == null)
        {
            continue;
        }
        @Html.Partial("grid/editors/base", (object)control)
    }
}

@functions {
    public static MvcHtmlString RenderElementAttributes(dynamic contentItem)
    {
        var attrs = new List<string>();
        JObject cfg = contentItem.config;

        if (cfg != null)
        {
            foreach (JProperty property in cfg.Properties())
            {
                attrs.Add(property.Name + "=\"" + property.Value.ToString() + "\"");
            }
        }

        JObject style = contentItem.styles;

        if (style != null)
        {
            var cssVals = new List<string>();

            foreach (JProperty property in style.Properties())
            {
                cssVals.Add(property.Name + ":" + property.Value.ToString() + ";");
            }

            if (cssVals.Any())
            {
                attrs.Add("style=\"" + string.Join(" ", cssVals) + "\"");
            }
        }

        return new MvcHtmlString(string.Join(" ", attrs));
    }
}