﻿@inherits UmbracoViewPage
@using ClientDependency.Core.Mvc
@{
    Layout = null;
    var title = Model.GetPropertyValue<string>("seoTitle");
    var description = Model.GetPropertyValue<string>("seoDescription");
    var cookieMessage = Html.Raw(Umbraco.GetDictionaryValue("Home.Cookies"));
}
<!DOCTYPE html>
<html lang="@Culture">
<head>
    <meta charset="UTF-8">
    <title>@title</title>
    <meta name="description" content="@description" />
    <link rel="canonical" href="@("https://" + Request.Url.Host)" />
    <meta http-equiv="content-language" content="@Culture"/>
    @Html.CachedPartial("GoogleAnalytics", Model, 3600)
    @Html.CachedPartial("_favIcons", Model, 3600)
    @Html.CachedPartial("_criticalCSS", Model, 3600)
    <script>
        window.addEventListener("load", function () { window.cookieconsent.initialise({ palette: { popup: { background: "#edeff5", text: "#838391" }, button: { background: "transparent", text: "#FF432E", border: "#FF432E" } }, content: { message: "@cookieMessage", dismiss: "@Umbraco.GetDictionaryValue("Home.Cookies.Button")" } }) });
    </script>
</head>
<body>
    @Html.Partial("ProductToolHeader")
    <main>
        <div id="react-placeholder-ordertool">
        </div>
        @RenderBody()
        @Umbraco.RenderMacro("AboutUs", new { content = "umb://document/6db3f0aa11af4210b04563638ac6726c" })
    </main>
    @Umbraco.RenderMacro("Footer", new { content = "umb://document/1a3bc4f37bbf49e790c0522680f11efe" })
    <a href="#" class="scrollToTop hovereffectbutton">
        <i class="fa fa-arrow-up" aria-hidden="true"></i>
    </a>
    <link rel="preload" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css" as="style" onload="this.onload=null;this.rel='stylesheet'" />
    <link rel="preload" href="/css/bootstrap.min.css" as="style" onload="this.onload=null;this.rel='stylesheet'" />
    <link rel="preload" href="/css/custom.min.css?v2" as="style" onload="this.onload=null;this.rel='stylesheet'" />
    <link rel="preload" href="/assets/plugins/font-awesome/css/font-awesome.min.css" as="style" onload="this.onload=null;this.rel='stylesheet'" />
    <link rel="preload" href="/assets/css/MegaNavbar.min.css" as="style" onload="this.onload=null;this.rel='stylesheet'" />
    <link rel="preload" href="/assets/css/skins/navbar-inverse-light.min.css" as="style" onload="this.onload=null;this.rel='stylesheet'" />
    <link rel="preload" href="https://cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.css" as="style" onload="this.onload=null;this.rel='stylesheet'" />
    
    @RenderSection("styles", false)
    <noscript>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css" />
        <link rel="stylesheet" href="/css/bootstrap.min.css" />
        <link rel="stylesheet" href="/css/custom.min.css" />
        <link rel="stylesheet" href="/assets/plugins/font-awesome/css/font-awesome.min.css" />
        <link rel="stylesheet" href="/assets/css/MegaNavbar.min.css" />
        <link rel="stylesheet" href="/assets/css/skins/navbar-inverse-light.min.css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.css" />
    </noscript>
    <script>
        (function (n) { "use strict"; var t, i; n.loadCSS || (n.loadCSS = function () { }); t = loadCSS.relpreload = {}; t.support = function () { var t; try { t = n.document.createElement("link").relList.supports("preload") } catch (i) { t = !1 } return function () { return t } }(); t.bindMediaToggle = function (n) { function t() { n.media = i } var i = n.media || "all"; n.addEventListener ? n.addEventListener("load", t) : n.attachEvent && n.attachEvent("onload", t); setTimeout(function () { n.rel = "stylesheet"; n.media = "only x" }); setTimeout(t, 3e3) }; t.poly = function () { var u, r, i; if (!t.support()) for (u = n.document.getElementsByTagName("link"), r = 0; r < u.length; r++)i = u[r], i.rel !== "preload" || i.getAttribute("as") !== "style" || i.getAttribute("data-loadcss") || (i.setAttribute("data-loadcss", !0), t.bindMediaToggle(i)) }; t.support() || (t.poly(), i = n.setInterval(t.poly, 500), n.addEventListener ? n.addEventListener("load", function () { t.poly(); n.clearInterval(i) }) : n.attachEvent && n.attachEvent("onload", function () { t.poly(); n.clearInterval(i) })); typeof exports != "undefined" ? exports.loadCSS = loadCSS : n.loadCSS = loadCSS })(typeof global != "undefined" ? global : this);
    </script>
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.js"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/lazyload@2.0.0-rc.2/lazyload.min.js"></script>
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/jquery.matchHeight/0.7.2/jquery.matchHeight-min.js"></script>
    <script defer src="/scripts/layout.min.js"></script>
    <script src="/static/js/runtime~main.cb073307.js"></script>
    <script src="/static/js/6.9b005d8f.chunk.js"></script>
    <script src="/static/js/main.6f3f072f.chunk.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>