﻿@using System.IdentityModel.Tokens
@using Our.Umbraco.Vorto.Extensions
@using Our.Umbraco.Vorto.Models
@inherits UmbracoViewPage<ProductFamily>
@{
    /**/

    var content = (IPublishedContent)Model;
    var first = Model.Ancestor<ProductFamily>().FirstChild<ProductFamily>();
    Layout = "_Layout.cshtml";
    var sliders = (Model.HasValue("slide")) ? Model.Slide.ToList() : null;
    var aantal = (Model.HasValue("nestedAfbeeldingen")) ? Model.NestedAfbeeldingen.Count().ToString() + "ths" : string.Empty;
    var popupGrids = first.GetPropertyValue<IEnumerable<IPublishedContent>>("popup");
    var counter = 0;
}
@if (sliders != null)
{
    @Html.Partial("_productCarousel")
}
@if (Model.HasValue("nestedAfbeeldingen"))
{
    <section class="vijfkolommen">
        <div class="container">
            @if (Model.TitelWeergeven)
            {
                <div class="row">
                    <div class="col-md-12 column">
                        <div>
                            <h1 class="align-center">@Model.Titel</h1>
                        </div>
                    </div>
                </div>
            }
        <div class="row rijvanx">
            @if (Model.NestedAfbeeldingen.Any())
            {
                foreach (ImagePlusRte item in Model.NestedAfbeeldingen)
                {
                    var tekst = item.GetVortoValue("Tekst");
                     string afbeeldingUrl = "/images/Missing_Square.svg?width=204&height=204";
                    string afbeeldingAlt = "Missing Image";
                    if (item.Afbeelding != null)
                    {
                        afbeeldingUrl = item.Afbeelding.Url;
                        afbeeldingAlt = item.Afbeelding.Name;
                    }
                    else
                    {
                        @Html.Action("Mail", "Error", new { property = "Nested Afbeeldingen", errorPage = Model.Url })
                    }

                    <div class="col-lg-@aantal col-md-@aantal col-sm-12 col-xs-12">
                        <div class="row-item">
                            <img class="img-responsive" alt='@afbeeldingAlt' src="@afbeeldingUrl">
                            <div class="subtext align-center">
                                @Html.Raw(tekst)
                            </div>
                        </div>
                    </div>

                }
            }

        </div>
        </div>
    </section>
}
@Html.GetGridHtml(content, "grid")
@if (popupGrids != null)
{
    foreach (var item in popupGrids)
    {
        counter++;
        <div class="container">
            <!-- Modal -->
            <div id="myModal@(counter)" class="modal fade" role="dialog">
                <div class="modal-dialog modal-lg">
                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-body">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            @Html.GetGridHtml(item.GetProperty("overzichtGrid"))
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
}
@Umbraco.RenderMacro("ExtraServices", new { content = "umb://document/4f408f305cca49c3a49e86f09281f784" })
@Umbraco.RenderMacro("VideoBox", new { content = "umb://document/c7aeb71ec4f24371a7ed74bac9e3903b" })
@Umbraco.RenderMacro("Showroom", new { content = "umb://document/6c4162e13aa44859a70afb9e707e30fc" })
@Umbraco.RenderMacro("ExtraServices", new { content = "umb://document/b901a05f0ab44f3698a4c2046d75de46" })