﻿@inherits UmbracoViewPage<FAqlist>
@{
    Layout = "_Layout.cshtml";
    var faqCategories = Model.Children<FAqcategory>().ToList();
}
<div class="container">
    <div class="row faq">
        <div class="faqSummary">
            <ul>
                @for (int i = 0; i < faqCategories.Count; i++)
                {
                    <li class="@(i == 0 ? "activeFaqCat":"")" data-faq-cat-id="@(faqCategories[i].Id)">
                        <a onclick="activateFaqCat(@(faqCategories[i].Id))">
                            @(Html.Raw(faqCategories[i].Name))
                        </a>
                    </li>
                }
            </ul>
        </div>
        <div class="faqAll">
            @for (int i = 0; i < faqCategories.Count; i++)
            {
                <div class="faqQuestions" data-faq-cat-id="@(faqCategories[i].Id)" style="display: @(i == 0 ? "block":"none")">
                    <h4 class="faqCatTitle">
                        @(Html.Raw(faqCategories[i].Name))
                    </h4>
                    <ul class="ulFaqItems">
                        @foreach (var faqItem in faqCategories[i].Children.Where(x => x.DocumentTypeAlias.InvariantEquals("fAQItem")).ToList())
                        {
                            <li>
                                <a onclick="scrollToFaqItem(@(faqItem.Id))">
                                    @(Html.Raw(faqItem.GetPropertyValue<string>("question")))
                                </a>
                            </li>
                        }
                    </ul>
                </div>
                <div class="faqAnswers" data-faq-cat-id="@(faqCategories[i].Id)" style="display: @(i == 0 ? "block":"none")">
                    @foreach (var faqItem in faqCategories[i].Children.Where(x => x.DocumentTypeAlias.InvariantEquals("fAQItem")).ToList())
                    {
                        <p id="@(faqItem.Id)">
                            <h4>
                                @(Html.Raw(faqItem.GetPropertyValue<string>("question")))
                            </h4>
                        </p>
                        <p>
                            @(Html.Raw(faqItem.GetPropertyValue<IHtmlString>("answer")))
                        </p>
                    }
                </div>
            }
        </div>
    </div>
</div>
@section scripts {
    <script type="text/javascript">
        function activateFaqCat(id) {

            $(".faqQuestions").hide();
            $(".faqAnswers").hide();
            $(".faqQuestions[data-faq-cat-id='" + id + "']").show();
            $(".faqAnswers[data-faq-cat-id='" + id + "']").show();
            $(".activeFaqCat").removeClass("activeFaqCat");
            $(".faqSummary>ul>li[data-faq-cat-id='" + id + "']").addClass("activeFaqCat");
        }
        function scrollToFaqItem(id) {
            console.log("scroll to ", id);
            $target = $("#" + id);
            $('html, body').stop().animate({
                'scrollTop': $target.offset().top - 470
            }, 500, 'swing', function () { });
        }
    </script>
}