﻿@inherits UmbracoViewPage<Technisch>

@{
    var content = (IPublishedContent)Model;
    Layout = "_Layout.cshtml";
    var popupGrids = Model.GetPropertyValue<IEnumerable<IPublishedContent>>("popup");
    var otherPage = Model.SelecteerPagina;
    IEnumerable<IPublishedContent> popupsOtherPage = null;
    if (otherPage != null)
    {
        popupsOtherPage = otherPage.GetPropertyValue<IEnumerable<IPublishedContent>>("popup");
    }


    var counter = 0;
}

@Html.GetGridHtml(content, "grid")
@if (popupGrids != null)
{
    foreach (var item in popupGrids)
    {
        counter++;
        <div class="container">
            <!-- Modal -->
            <div id="myModal@(counter)" class="modal fade" role="dialog">
                <div class="modal-dialog modal-lg">
                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-body">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            @Html.GetGridHtml(item.GetProperty("overzichtGrid"))
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
}
@if (popupsOtherPage != null)
{
    foreach (var item in popupsOtherPage)
    {
        counter++;
        <div class="container">
            <!-- Modal -->
            <div id="myModal@(counter)" class="modal fade" role="dialog">
                <div class="modal-dialog modal-lg">
                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-body">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            @Html.GetGridHtml(item.GetProperty("overzichtGrid"))
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
}